[2017-10-23 09:14] KunalShivnekar opened #1 "Getting warning for Calligraphy in release build"
Hi,
The Proguard rules for Calligraphy has a typo. It should be "chris**j**enx" in place of "chris**h**enx".

[2017-10-30 04:26] RHMDHDYT opened #2 "Connection refused when sending firebase token."
I've got this message when sending firebase token :

[code]

this is my code inside firebase instance id service.

[code]

[2017-10-30 05:19] RHMDHDYT commented on #2
I think it is because I initializing Freshchat in application class, not in activity class. problem solved after i move init code on activity class.

[2017-10-30 05:19] #2 closed

[2017-11-03 17:42] tryprasannan commented on #1
@KunalShivnekar Thanks for reporting this. We have fixed & released this in [Freshchat SDK version 1.1.1](https://github.com/freshdesk/freshchat-android/releases/tag/1.1.1)

[2017-11-03 17:42] #1 closed

[2017-11-20 02:51] gnumilanix opened #3 "Add changelogs when updating SDK version."
It's really annoying to find breaking changes after updating the Freshchat SDK. The first time I updated the Freshchat SDK it broke all theme customization, now the `FreshchatUser.setExternalId()` has been removed It would give us heads up on what has changed including:

- Breaking Changes
- Enhancements
- Bug Fixes

A really good example of this is done by [Realm](https://github.com/realm/realm-j

[2017-11-20 08:55] gnumilanix opened #4 "Provide custom FileProvider to avoid conflicts."
Since Freschat does not provide a default FileProvider, it causes conflicts with anyone using the default one. It can, however, be resolved by adding the following:

[code]

[code]

Please add it in the next version of the SDK if possible.

[2017-11-20 16:35] tryprasannan commented on #4
Thanks for the suggestion. We considered this approach and chose not to implement this as authority string needs to be unique per app and specifying dynamic field like application id in authority doesn't always play nice with all build systems & tools and end up generating same authority string causing issues. We wanted to avoid this and hence the current approach where the app developer includes

[2017-11-20 16:38] tryprasannan commented on #3
Thanks for suggestion. We'll ensure we document breaking changes in a section in our release notes or a change log.

[2017-11-22 02:08] gnumilanix commented on #4
@tryprasannan I think you have understood me wrong. I am not suggesting to add provider and authority to Freshchat SDK. What I am suggesting however is, to provide a custom FileProvider that developers can add to their app with _just few lines in manifest including the authority string_. Without having to create a custom FileProvider because it conflicts with anyone using the default one.

About f

[2017-12-15 04:25] gnumilanix opened #5 "Phone number is not being shown displayed correctly"
Freshchat website does not display the phone number correctly for all the numbers. One of the sample phone numbers _0987654321_ and is displayed correctly. but,  _0909999999_, which we tried to verify with  https://numverify.com/ and it's marked as valid. The country code for both of these numbers were _66 (Thailand)_

The way we are setting the phone number is with following:
[code]

**Displayed

[2017-12-18 08:11] tryprasannan commented on #5
@gnumilanix We checked this and found an issue with phone number on subsequent updates (first time update will work fine). And this has been fixed in [Version 1.2.2](https://github.com/freshdesk/freshchat-android/releases/tag/1.2.2), request you to upgrade.

[2017-12-18 08:11] #5 closed

[2017-12-20 08:28] gnumilanix commented on #5
@tryprasannan verified and working on 1.2.2.

[2017-12-20 12:04] arpitjoshi08 opened #6 "Error"
E/FRESHCHAT: Exception on LGE Nexus 5X Android API 7.1.1 (25)  getting this error

[2017-12-20 17:49] tryprasannan commented on #6
@arpitjoshi08 Can you share more information on when this is happening ? And the Freshchat SDK version where this is happening ?

[2017-12-28 10:04] DarshanPatel23 opened #7 "NameNotFoundException"
[crashreport.txt](https://github.com/freshdesk/freshchat-android/files/1590969/crashreport.txt)
Plz help me with this issue...

[2018-01-04 01:48] gnumilanix opened #8 "Crash when initializing in Android 8 (Oreo)"
We did following in our applications `onCreate()` method. It is fine with older versions of Android but, crashes on Android O if it was called when the app is in the background. This is probably due to **Background Service Limitations** as described in [here](https://developer.android.com/about/versions/oreo/background.html#services)
[code]

Here's a crash log:
[code]

[2018-01-04 04:40] tryprasannan commented on #8
@gnumilanix Thanks for reporting, this is also one of the reasons our integration guide recommends invoking init() from onCreate() of launcher/main activity and not  application

[2018-01-04 10:02] gnumilanix commented on #8
@tryprasannan wondering if `Freshchat.handleGcmMessage(..)` will cause a crash if we only initialize in the `Activity.onCreate()`?

Since, after a system restart, the app needs to still be able to receive pushes. But, `Freshchat.init()` would never have been called.

Any plans to implement `FreshchatService` with `JobScheduler` or similar APIs?

[2018-01-04 17:42] tryprasannan commented on #8
@gnumilanix You can safely invoke handleGcmMessage () before init() as well. The SDK already has Alarm based auto retry, but not JobScheduker at the moment.

[2018-01-15 08:47] gnumilanix opened #9 "Exception occured: SQLiteException (Can't display channels)"
We are seeing the following exception log in our test Android 5.0.1 (SHV-300K) and Android 5.0.2(SM-T700) device and it's always reproducible:
[code]

[2018-01-15 14:21] tryprasannan commented on #9
@gnumilanix Can you share more information to help us understand this better like the SDK version ? And is this happening only in Samsung devices ? Is this happening on any other OS versions?

[2018-01-16 15:36] tryprasannan commented on #9
@gnumilanix  Update: We got hold of a samsung device running Android 5.0 (SM-G900H) and weren't able to reproduce the issue from our side.

[2018-01-16 15:38] tryprasannan commented on #6
Not enough information to identify or debug the issue. If you have more information, please share.

[2018-01-16 15:38] #6 closed

[2018-01-16 15:52] tryprasannan commented on #7
@DarshanPatel23 Sorry we missed this earlier. This looks like an issue because of Android (Ref : [Issue in AOSP BugTracker](https://issuetracker.google.com/issues/37048374)) updating the webview in the background (without any kind of callback/notification to the app) and causing a crash if the app is open and displaying a webview at that point in time and unfortunately there doesn't seem to be a w

[2018-01-16 15:52] #7 closed

[2018-01-17 06:41] gnumilanix commented on #9
@tryprasannan both cases were on Android 5.0.x. We are using Freshchat SDK 1.3.0. We don't really know if it's vendor specific, as we only have Android 5.0.x running on those Samsung devices.

[2018-01-17 17:41] choxxy opened #10 "BroadCastReceiver for unreadmessage count never fired."
Used code below from  the example given on how to intergrate FreshChat into android app however I only get the unreadCount  after restarting my application but never when app is running. The receiver is never fired despite being registered in my activity onResume method. How do I get unread message?

[code]

[2018-01-18 15:04] yarKH opened #11 "Can't get generated restoreId"
sdk 1.3.0

1. Freshchat.getUser().getRestoreId() always return ""
2. BroadcastReceiver onReceive never fired

[code]

[2018-01-19 10:23] yarKH commented on #11
It works. Received broadcast message right after message sent. It should be mentioned in docs.

Thank you for your help!

[2018-01-19 10:23] #11 closed

[2018-01-30 20:01] manishandroid opened #12 "Adding 350 kb to apk"
I have integrated FreshChat in my app and when I analyzed my release apk, analyzer says that Fresh Chat is adding 350kb to my apk. I would recommend making lib size as smaller as possible. This is not an issue but can be taken as an enhancement.

![screen shot 2018-01-31 at 1 29 38 am](https://user-images.githubusercontent.com/4254384/35588353-671b98ba-0626-11e8-9423-3ab064460bf7.png)

[2018-01-31 15:12] cpauwels opened #13 "Notifications not showing in Android O"
Hi,

Android O introduced new notification channels, but Freshchat doesn't support them and as such notifications are not shown.

What is the channel ID that Freshchat uses? That way I can manually create the notification channel before calling `Freshchat.getInstance(applicationContext).setNotificationConfig(notificationConfig)`

Here is the error I get: `Notification: Use of stream types is depre

[2018-02-02 14:27] tryprasannan commented on #13
@cpauwels Recommend using the version 1.3.1 which adds out of the box support for notification channels, the notification channel names can be customised via strings.xml.

[2018-02-02 14:27] #13 closed

[2018-02-02 14:41] tryprasannan commented on #10
@choxxy If you are still facing this, please respond here to reopen or email us at support@freshchat.com

[2018-02-02 14:41] #10 closed

[2018-02-02 14:47] tryprasannan commented on #12
@manishandroid Thanks for your feedback. We believe Freshchat is one of the smallest Chat SDKs around, in terms of size, among ones with comparable features. That said if you have any specific feedback or improvements in mind, please feel free to share.

[2018-02-02 14:47] #12 closed

[2018-02-09 09:31] tryprasannan commented on #8
@gnumilanix Sorry, missed your other query reg launching from Shortcut manager, you can use a trampoline activity, or an invisible activity that invokes Freshchat.init() and starts the Freshchat activity in onCreate(), then calls finish(). It wouldn't be recommended to call init from every screen.

[2018-02-09 09:31] #8 closed

[2018-03-20 10:46] ratdream opened #14 "java.lang.NullPointerException Transformation circularly_cropped_bitmap returned null after 0 previous transformation(s). Transformation list: circularly_cropped_bitmap"
We find the NullPointerException on Crashlytics, seems that the `circularly_cropped_bitmap` is used by freshchat sdk.

[code]

[2018-03-20 14:07] tryprasannan commented on #14
@ratdream Can you help us with the following information to help us understand this better.
1. Have you set up the SDK to display actual agent avatar ? Or custom (static) icon ?

[2018-03-20 15:17] renatacmn opened #15 "VerifyError while running Junit tests with Robolectric"
While trying to run the test suite using Robolectric, the FreshChat SDK gives a 'VerifyError'.

The stack trace is the following:

[code]

[2018-03-21 05:17] ratdream commented on #14
@tryprasannan Thanks for your response.
1. We don't set up the SDK to display actual agent avatar and custom icon.
2. Actually the NullPointerException happens on different OS version(5.0/6.0/7.0/8.0) and devices(vivo/Xiaomi/OPPO).

[2018-03-21 19:10] tryprasannan commented on #15
@renatacmn Thanks for reporting this. We are looking into it.

[2018-03-22 09:48] AdityaAnand1 opened #16 "Please provide a pre-built APK in the repo"

[2018-03-22 15:03] tryprasannan commented on #16
@AdityaAnand1 If you want to checkout the chat experience, you can download our agent app from the PlayStore or the Appstore and try it out by clicking on support from the left nav drawer. We don't ship a pre-built apk as one can't experience the product fully without also having access to agent credentials to the account the app is connected to.

For a basic working sample, you can just key in th

[2018-03-23 14:26] Alexey- opened #17 "Notification sound doesn't play on some devices"
I'm receiving reports from testers that freshchat notification sound doesn't play.
It seems like samsungs with OS 6.0 are affected, although I only had 2 reports.
What's more important is that while freshchat notifications are mute, normal notifications show up with sound inside the very same application. So the tester responds to his request in freshchat - no sound. Immediately sends himself anot

[2018-03-26 07:16] AdityaAnand1 commented on #16
Yes, that was my point. To make it easier for potential freshdesk customers to check out what the android sdk "feels" like without having to go through a long setup.

Not super important, but I am currently trying to decide which provider to go with and it's just a matter of who can convince me first.  A pre-built apk bundled with demo API keys would go a long way towards making my life easier :)

[2018-03-26 08:49] Alexey- commented on #17
Correction: bug occurs on Sony devices, not Samsung.
OS version 6.0.

[2018-03-27 14:06] tryprasannan commented on #17
@Alexey- Sorry for the delayed response. Can you try explicitly setting the notification tone to see if it makes any difference ?
`freshchatNotificationConfig.setNotificationSound(RingtoneManager.getDefaultUri(RingtoneManager.TYPE_NOTIFICATION));`

[2018-03-27 15:29] Alexey- commented on #17
@tryprasannan Will try it. Since I need to make a new build and then send it to the tester with sony phone, this may take some time.

[2018-03-27 16:23] tryprasannan commented on #17
@Alexey- Sure, thanks.

[2018-03-28 07:31] Alexey- commented on #17
@tryprasannan It works.
After I've added `freshchatNotificationConfig.setNotificationSound(RingtoneManager.getDefaultUri(RingtoneManager.TYPE_NOTIFICATION));` tester can now hear sound for all freshchat notifications on all devices.

[2018-03-28 07:36] tryprasannan commented on #17
@Alexey- Thanks for the confirmation. We'll get the default behaviour fixed.

[2018-04-03 08:35] hohoboho opened #18 "SDK 1.3.3 , Android Oreo , translation issue"
I have bilingual app , and I create two XML files , for the two languages (English and Arabic) . The problem is that when the user switch language in Android 8.0 , the translation from English to Arabic does not appear for those Freshchat keys:

 - "freshchat_activity_title_channel_list", "freshchat_typically_replies_within_a_minute", "freshchat_typically_replies_within_x_minutes" , "freshchat_typ

[2018-04-19 13:48] divanova123456 commented on #18
This is not working yet (sdk: 1.3.4)

[2018-04-20 05:34] tryprasannan commented on #18
@hohoboho @divanova123456

1. Can you confirm if this happens for all strings or only a subset of strings ?
2. Can you confirm if this behaviour is seen only for specific languages/locales only or do you see this for all other languages/locales ?
3. Do you observe different behaviour on different OS versions? Or with different target version ?

[2018-04-20 07:15] hohoboho commented on #18
Hi there ,
I can confirm that :
1. This happens for only a subset of strings , thats why I post the keys from your strings.xml file .
2. This behaviour is seen , when the app uses Arabic language specifically , the simulators or devices for testing are with English language .
3. It happens only in Android 8.0 and above .

[2018-04-23 12:25] MuthuFD commented on #15
@renatacmn @bernardo-macedo

Hi, We are released a canary for this. Can you verify and let us know.

[2018-04-24 05:56] MuthuFD commented on #15
@bernardo-macedo Use this dependency
compile 'com.github.freshdesk:freshchat-android:canary-SNAPSHOT'.

[2018-04-25 11:01] SerhiiSolobaievUptech opened #19 "Android 4.4: Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.sprent.customer.staging/com.freshchat.consumer.sdk.activity.ConversationDetailActivity}: android.view.InflateException: Binary XML file line #0: Error inflating class ImageView"
Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.sprent.customer.staging/com.freshchat.consumer.sdk.activity.ConversationDetailActivity}: android.view.InflateException: Binary XML file line #0: Error inflating class ImageView
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2180)
       at android.app.ActivityThread.handleLaunchA

[2018-04-25 16:58] tryprasannan commented on #19
@SerhiiSolobaievUptech Are you customizing and specifying vector drawable for any icon in Freshchat ?
If yes, can you share the vector drawable and target OS version and appcompat and vector compat lib versions?

[2018-04-25 17:00] tryprasannan commented on #18
@hohoboho Thanks for the information, we'll get this checked from our side and update.

[2018-04-26 10:43] SerhiiSolobaievUptech commented on #19
@tryprasannan Yes, I set vector drawable to the `freshchatSendIcon` style item.
Target OS: Android 4.4
AppCompat lib: com.android.support:appcompat-v7:27.1.1
VectorCompat lib: not used. I've set `vectorDrawables.useSupportLibrary = true` in build.gradle and using app:srcCompat in xmls  to set vector drawables.
Drawable:
`<vector xmlns:android="http://schemas.android.com/apk/res/android"
        an

[2018-04-26 20:14] renatacmn commented on #15
@MuthuFD @tryprasannan it worked for me, thanks!

[2018-04-26 20:18] #15 closed

[2018-04-27 09:37] MuthuFD commented on #18
@hohoboho We were unable to reproduce this issue. Can you share a test version of your app where we can test this out.

Please email it to support@freshchat.com

[2018-04-27 11:47] hohoboho commented on #18
@MuthuFD Hi there ,
I found a way to make it work :
1. I change the device local to Arabic
2. App language is in Arabic
, everything is fine .
But , let me suggest , to make it possible for the dev (I am just a QA) , to send you param for the language , and do not take it from the device locale . Just a case scenario : old device , or device that does not support the app language , user install th

[2018-04-27 11:47] #18 closed

[2018-05-16 12:34] kmteck opened #20 "registered broadcaster not triggerring when there is new incoming message"
I Have Written a BroadcastReceiver to be triggered when there is new incoming message, but it is triggered only when i explicitly open conversation screen
(Freshchat.showConversations(getApplicationContext());)

@Override
    public void onReceive(final Context context, Intent intent) {
        Freshchat.getInstance(context).getUnreadCountAsync(new UnreadCountCallback() {
            @Override

[2018-05-24 17:26] tryprasannan commented on #15
@renatacmn @bernardo-macedo We found some issues related to this and have released a version with fix for it. Recommend updating to [version 1.4.0](https://github.com/freshdesk/freshchat-android/releases/tag/1.4.0)

[2018-05-24 17:27] tryprasannan commented on #20
@kmteck The receiver will trigger when ever a new message is received. For ideal experience, we recommend implementing push notifications in your app, otherwise updates might be delayed.

[2018-05-30 12:19] renatacmn commented on #15
Thank you. Did this and it worked!

[2018-06-27 10:07] pritamps opened #21 "Theme customization not working"
Hello,

I am trying to follow the steps [here](https://support.freshchat.com/support/solutions/articles/229492-freshchat-android-sdk-themes-and-customizations), but it is not working. I have copied the styling exactly from the link as follows:

[code]

However, the style is not updated. Only the action bar turns light (since I have chosen the Theme.Freshchat.Light parent), but nothing else seems t

[2018-07-03 12:10] kashyap-virtualdusk commented on #9
getting same issue with my android tab which is running on api  22
unable to send a msg.

 E/FRESHCHAT: Exception on samsung SM-T330NU Android API 5.1.1 (22) >>>>> near ",": syntax error (code 1): , while compiling: INSERT OR REPLACE  INTO conversations(,_id,channel_id,has_pending_csat) VALUES (,?,?,?);
    #################################################################
    Error Code : 1 (SQLIT

[2018-07-05 11:02] tryprasannan commented on #9
@kashyap-virtualdusk  Is this your test device? or of a customer? Is it always reproducible? Would you be able to help us verify if we give you a canary version?

[2018-07-05 11:44] kashyap-virtualdusk commented on #9
With my test device.
Yes I can. It will be really helpful.

On Thu 5 Jul, 2018, 16:32 Prasannan N, <notifications@github.com> wrote:

[2018-07-05 14:37] tryprasannan commented on #9
@kashyap-virtualdusk We've published a canary version with attempted fixes for this. Can you please test and let us know if this fixes it.

[2018-07-06 04:08] kashyap-virtualdusk commented on #9
Awesome.
This canary version is working fine with all my test devices including tab.
Thanks a lot for this quick response.

[2018-07-06 09:54] tryprasannan commented on #9
@kashyap-virtualdusk Thanks for the confirmation. We'll update here when we roll it out as a stable version soon.

[2018-07-13 23:37] Abdelrhmanwalid commented on #3
Any updates on this?

[2018-07-16 16:38] MuthuFD commented on #21
Looks like you reached out to our support directly and this was resolved, but we missed cross posting the solution. Sharing here for reference

We see that your are trying to customise channel name textview.

Please find the below code to customise it
​
[code]

Similarly you can refer the below link to customise other parts of Freshchat SDK
https://support.freshchat.com/support/solutions/articles/

[2018-07-16 16:38] #21 closed

[2018-07-19 02:29] ratdream opened #22 "Fatal Exception: java.lang.NoClassDefFoundError Failed"
Hi all

When app update freshchat to  1.4.0 version, I find some NoClassDefFoundError on fabric.

The following is exception message:

Caused by java.lang.ClassNotFoundException: Didn't find class "android.support.v4.graphics.drawable.DrawableWrapper" on path: DexPathList[[zip file ""],nativeLibraryDirectories=[]]
       at dalvik.system.BaseDexClassLoader.findClass(BaseDexClassLoader.java:56)

[2018-07-20 07:07] tryprasannan commented on #22
@ratdream
1) Can you share more information about your dependencies(esp the support lib versions)?
2) Has the dependencies or dependencies' version changed recently ?
3) Is it reproducible for you locally or do you see this happening on one of your devices?

Freshchat SDK's target versions or dependencies haven't changed in the last couple of releases

[2018-07-20 07:08] #20 closed

[2018-07-23 16:58] tryprasannan commented on #17
@kotya341 The original issue is the default tone not being set out of the box. Looks like yours is different. On the same device if you pass the same tone to a sample notification, does it play?  If sample notification plays the tone and Freshchat SDK doesn't, can you share more information about the device model and OS version etc?

[2018-07-26 09:24] chaitanya-exp opened #23 "Fatal Exception: java.lang.IncompatibleClassChangeError"
The following crash happens in version 1.2.1.
I am not able to reproduce this. Found these crashes on fabric.

Fatal Exception: java.lang.IncompatibleClassChangeError: com.freshchat.consumer.sdk.d.a
       at dalvik.system.DexFile.defineClassNative(DexFile.java)
       at dalvik.system.DexFile.defineClass(DexFile.java:226)
       at dalvik.system.DexFile.loadClassBinaryName(DexFile.java:219)

[2018-07-26 10:13] kotya341 opened #24 "getUnreadMessagesCount doesn't return any response"
we have a logic when user have to be notified all the time when new message is coming.
so I put an `getUnreadMessagesCount` call `onStart` of my fragment and to the push notification method

the problem is when user rotates the device we do the call, but sometimes (depending on a device it can be 30% of the time) we got nothing from server

[2018-07-26 14:42] tryprasannan commented on #24
@kotya341 The calls may be rate limited if its being called too often. If your aren't already using push notifications with the SDK, we recommend setting up push notifications for quicker updates.

[2018-07-26 14:44] tryprasannan commented on #17
@Alexey This has been fixed and released as part of [SDK version 1.5.0](https://github.com/freshdesk/freshchat-android/releases/tag/1.5.0)

[2018-07-26 14:44] #17 closed

[2018-07-26 14:44] tryprasannan commented on #9
@kashyap-virtualdusk @gnumilanix This has been fixed and released as part of [SDK version 1.5.0](https://github.com/freshdesk/freshchat-android/releases/tag/1.5.0)

[2018-07-26 14:44] #9 closed

[2018-07-26 14:48] tryprasannan commented on #23
@chaitanya-exp Thanks for reporting this. Do you have any more information on device and os information? Can you also share your app's info (target/compile etc, dependency list & versions etc)

[2018-07-27 11:11] chaitanya-exp commented on #23
<img width="1009" alt="screen shot 2018-07-27 at 4 40 59 pm" src="https://user-images.githubusercontent.com/6319140/43317811-ef844ed8-91bb-11e8-87c2-9a289d00e897.png">
@tryprasannan

[2018-07-27 11:13] chaitanya-exp commented on #23
@tryprasannan  compileSdk : 26

[2018-07-30 06:02] pritamps opened #25 "Crash when app is in background"
Hello,

I'm getting the following crash in our app when using Freshchat. It seems to happen when the app is in Background on Android 8 devices. The stacktrace:

[code]

The exact line that seems to be causing this crash is:    **`at com.freshchat.consumer.sdk.Freshchat.getUnreadCountAsync(Unknown Source:30)
       at`**

The issue seems to be something related to what is described in [this Stackov

[2018-07-31 18:18] tryprasannan commented on #25
@pritamps Thanks for reporting this. This is not a crash, we log it when this happens. That said we'll work on improving this experience.

[2018-08-02 06:32] krystallii opened #26 "No message channels after clear data of my app"
Hi,

I'm getting this message "oops, no message channels here!" when I call showConversations.
The situation only happen when I clear data of my app in system setting, after kill and relaunch app it's become normal.

Below is my device information
Device: Sony G8142
Android Version: 7.1.1

[2018-08-07 10:10] tryprasannan commented on #26
@krystallii Apologies for not getting back earlier. Can you help us with the following information
1) Where do you call Freshcht SDK's init() in the lifecycle of the app
2) Do you see this on all devices ? or specific devices?

[2018-08-09 10:32] krystallii commented on #26
@tryprasannan Thanks for your reply

1. I call Freshcaht initialize in `onCreate`  of Application.
2. I saw this message on Sony G8142 and Sony Z5, but it is not showed this message every time after I clear data in system setting. I also tried Google Pixel 2, ASUS Zenfon3 ultra and Samsung Galaxy S8 and they showed normal.

[2018-08-10 12:29] tryprasannan commented on #26
@krystallii How's the flow to launch support section setup in your app ? Are you launching the support activity as soon as you launch the app?

[2018-08-17 17:11] tryprasannan commented on #3
@gnumilanix Please find the changelog here for changes made in various versions of SDK. https://github.com/freshdesk/freshchat-android/blob/master/CHANGELOG.md

[2018-08-17 17:11] #3 closed

[2018-08-17 17:15] tryprasannan commented on #16
As pointed out earlier, you can signup and check out the support section in the team member/agent mobile apps on Android & iOS (which uses Freshchat SDK for support).
You don't have to go through any setup/development effort at all for this.

[2018-08-17 17:15] #16 closed

[2018-08-23 11:28] kabirkhaan opened #27 "Infinite Loading in Chat when set domain FreshChatConfig in Android 4.4.2 devices Fresh Chat sdk version {1.5.0}"
Fresh is showing infinity indicator when domain are set to `FreshChatConfig` below Android 5.0 devices.

[code]

[2018-08-23 11:47] hariharanc opened #28 "Application Crash Happen using Freshchat sdk 1.5.0 android oreo device"
In my application we are using fresh chat android sdk 1.5.0 ,So i followed all the implementation steps mentioned in blog but android oreo device my application keep on crash happen,Please refer the below error log  received in my android studio.

I/ActivityManager:   Force stopping service ServiceRecord{6a5ba6f u0 /com.freshchat.consumer.sdk.service.FreshchatService}
I/Telecom: DefaultDialerCache

[2018-08-23 11:55] sagar-viradiya commented on #4
I am also facing same issue where in I am using default file provider and it is conflicting with freshchat provider. Any plan to address this ?

[2018-08-23 16:03] tryprasannan commented on #27
@kabirkhaan Can you uninstall/install app and confirm if it still happens ? Can you also share what domain you're specifying ?

[2018-08-23 16:06] tryprasannan commented on #28
This should not be an actual crash. Are you seeing this otherwise ? We log it to log cat when this happens, do you see the log? That said we'll work on improving this experience.

[2018-08-24 07:27] hariharanc commented on #28
@tryprasannan this issue happen only in release mode android Oreo but it's work fine in debug mode..

[2018-08-24 08:52] kabirkhaan commented on #27
@tryprasannan thanks for your reply, I tried already and it not working. However If don't set the domain in `Android 4.4` it works fine. But When I tried to set the domain `msdk.eu.freshchat.com` it shows an exception on `LOGCAT` which I have posted in my ticket.

Moreover `domain` are working fine in all other Android versions.

[2018-08-24 16:33] tryprasannan commented on #27
@kabirkhaan Are you using the same app id and app key combination whens specifying the domain vs when not specifying the domain ?

[2018-08-24 16:40] kabirkhaan commented on #27
@tryprasannan We have different apps having different set of configurations. Issue arises when `Fresh chat config` have domain. One which does not have `domain` load fine.

[2018-08-24 16:42] tryprasannan commented on #27
@kabirkhaan Can you share the app id/alias of the specific accounts that you are integrating over email to `support@freshchat.com` for us to get this checked ?

[2018-08-24 16:50] tryprasannan commented on #28
@hariharanc Can you share info on what is your app's `targetSdkVersion` and the dependency rgaph?

[2018-08-27 09:52] hariharanc commented on #28
@tryprasannan its our app proguard rule issue after removing that rule now freshchat work fine in android Oreo device thanks...

[2018-08-27 10:26] tryprasannan commented on #28
@hariharanc Nice to know its working now. Thanks for the confirmation.

[2018-08-27 10:26] #28 closed

[2018-08-27 14:32] kabirkhaan commented on #27
@tryprasannan Thanks alot for fixing this use. We have tested on our side :) 🎉 🎉 🎉 🎉 🎉

[2018-08-27 14:32] #27 closed

[2018-08-30 02:57] bradmartin opened #29 "UnsupportedOperationException with search menu action item"
I was trying to integrate the Android SDK into NativeScript, all works really well except I've gotten a couple of exceptions to throw when interacting with certain items on the FAQ activities.

Exception:

[code]

I'm not sure if updating the appcompat version of the freshchat SDK would be the fix or not but it seems that current is:
[code]
and the freshchat SDK is a few minor versions back.

The

[2018-08-30 03:05] #29 closed

[2018-08-30 03:06] bradmartin commented on #29
Related to https://github.com/freshdesk/hotline-phonegap/issues/34

[2018-09-05 12:56] srinivas3120 opened #30 "Crash on uploading a image"
java.lang.NoSuchMethodError: No static method with(Landroid/content/Context;)Lcom/squareup/picasso/Picasso; in class Lcom/squareup/picasso/Picasso; or its super classes (declaration of 'com.squareup.picasso.Picasso' appears in base.apk:classes3.dex)
        at com.freshchat.consumer.sdk.j.t.<init>(Unknown Source)
        at com.freshchat.consumer.sdk.j.t.<init>(Unknown Source)
        at com.fresh

[2018-09-05 15:41] srinivas3120 commented on #30
freshchat is using older version of picasso 'com.squareup.picasso:picasso:2.5.2'
we are using the newer version of picasso 'com.squareup.picasso:picasso:2.71828' where some methods are removed.
I can't downgrade library version.

Please provide a solution or upgrade to latest version of picasso.

[2018-09-07 16:11] Alexey- opened #31 "Difference between campaign and conversation notification channels"
Hello,

Freshchat creates the following notification channels on Android 8+:
freshchat_campaign_notification_channel_name
freshchat_conversation_notification_channel_name

As far as I understand, conversation channel is for chat.
What campaign channel is for?

I want to provide a reasonable localization but I don't understand what types of notifications show in this channel.

[2018-09-07 17:52] MuthuFD commented on #31
Hi Alexey.

**freshchat_campaign_notification_channel_name** is the Notification Channel name for message received through **In-App Campaigns**

For more details, refer [In-App Campaigns](https://support.freshchat.com/support/solutions/articles/232625)

I'm closing this. Feel free to contact us @ support@freshchat.com

[2018-09-07 17:52] #31 closed

[2018-09-07 18:03] MuthuFD commented on #30
Hi @srinivas3120 ,
Freshchat SDK uses Picasso 2.5.2. Picasso's latest version has breaking changes so if you use the latest version, you will be face this issue.
We actively looking to make this experience better.

We will keep this thread updated on our progress regarding the fix.

[2018-09-07 18:09] MuthuFD commented on #26
Closing this issue as there is not enough info and thread is inactive.

@krystallii If you are still facing this issue, feel free to reopen this issue

[2018-09-07 18:09] #26 closed

[2018-09-07 18:13] MuthuFD commented on #24
@kotya341 We have made some improvements to our getUnreadMessagesCount API.

Please update to our latest SDK version.

Closing this issue. If you are still facing this issue in our latest version, feel free to reopen

[2018-09-07 18:13] #24 closed

[2018-09-07 18:19] MuthuFD commented on #14
@ratdream
We found that this crash is happening when a gif image is set as Agent profile pic.

We are working on a fix. We will keep this thread updated on the progress of the fix.

[2018-09-17 15:38] elitelokesh commented on #30
Hi,
I'm also getting the same error, hope this will be resolved soon.
**Error 1**
java.io.**FileNotFoundException**: https:/fc-use1-00-pics-bkt-00.s3.amazonaws.com/fa339fe68d6765947cf57a138f6a02265bd4e7a26fd82640f9d3a8d7c4d4fa87/f_marketingpicFull/u_715ef9e79d9c83da6875a17741510141c533f443669a0c39f9fea5807ff9b726/img_1537197590701.jpeg (No such file or directory)

**Error 2**
java.lang.**NoSuchMet

[2018-09-24 18:27] MuthuFD commented on #30
@srinivas3120 @elitelokesh
From Freshchat SDK version 1.5.2, we allow setting custom image loaders.

SDK defaults to including Picasso 2.5.2 library to download images. If you want to use any other version of Picasso or any other Image download library, you can set your custom image downloader with Freshchat SDK using setImageLoader() API.

Eg:
Implement your custom image loader
[code]

Call Fresh

[2018-09-24 18:27] #30 closed

[2018-10-14 12:01] knikolou opened #32 "Cant compile Freshchat to Phonegap"
Dear sir after installation of the plugin i am getting this error when compile to phonegap
When i remove the installation it works ok
i have install this
a)gap:plugin spec="https://github.com/techaffinity/freshchat-phonegap.git" source="git" />
b)
document.addEventListener("deviceready", onDeviceReady, false);
function onDeviceReady() {
window.Freshchat.init({
    	appId       : "xxxxxxxxx",

[2018-11-09 10:48] Alexey- opened #33 "Sometimes user email and name are not displayed in conversation"
In rare cases, some users will not have email and name displayed in freshchat admin panel where you talk to them. It works 99% of the time, but once in a while we get a user without an email.

I've started investigating this issue and I thought that there is a bug in my app. As it turned out I do have a bug in my app - if user email is null, app will crash before opening freshchat. Which means tha

[2018-11-09 15:02] tryprasannan commented on #33
@Alexey-
1) Freshchat SDK does have auto retry for failed network requests, so you don't have to provide same data again.
2) Even if you provide same data again, SDK has the ability to track the uploaded fields and sends only if new information is present
If this happens on your device and can help with steps and logs for this issue, please share here or email it to `support@freshchat.com`

[2018-11-12 07:55] Alexey- commented on #33
It doesn't happen on my device unfortunately. It seems like it's a random bug that's very hard to reproduce.
In any case, I'm adding the following condition right before the code in my first snippet:

[code]

If the app starts to crash now, then it's my problem. If it doesn't crash and we still continue to receive messages without email, then there's a bug in your code.

I'll let you know how it g

[2018-11-14 10:15] j2emanue opened #34 "Fatal Exception: android.app.RemoteServiceException"
Bad notification posted from package com.mobile.mycompany: Couldn't expand RemoteViews for: StatusBarNotification(pkg=com.mobile.mycompany user=UserHandle{0} id=-674111321 tag=null key=0|com.mobile.mycompany|-674111321|null|10247: Notification(pri=0 contentView=null vibrate=null sound=null defaults=0x0 flags=0x18 color=0x00000000 vis=PUBLIC semFlags=0x0 semPriority=0))

can you guys take a look at

[2018-11-15 12:51] tryprasannan commented on #34
@j2emanue Thanks for reporting this. Freshchat SDK doesn't restore notifications, it may just be open notifications during app update causing the issue. We'll investigate this further and share an update when we have more information.

[2018-11-15 12:54] tryprasannan commented on #33
@Alexey- Sure. Thanks. Closing this for now. If this continues to happen, please respond here.

[2018-11-15 12:54] #33 closed

[2018-11-19 21:50] wildseansy commented on #4
My team is considering using Freshchat; we have everything setup, but this is a blocker for us.  The fact that this has been open for a year with no one assigned and a clear solution suggested is not very promising.

[2018-12-12 16:15] gilshallem opened #35 "An error with chat tags"
[code]
In the first time it ignores the tags, second time it uses them and open a new conversation

[2018-12-12 19:22] tryprasannan commented on #35
Hi @gilshallem,
1) Can you confirm if filtering by tags is the only way your users reach support ? Or are there other mechanisms.
2) When (in the life cycle of your app) does your app invoke Freshchat.init() ?

[2018-12-13 18:36] gilshallem commented on #35
Hi,
Thank you for replying.
1. Definitely, only one place.
2. On the application oncreate

[2018-12-14 01:50] MuthuFD commented on #35
Hi @gilshallem ,

Can you please share obfuscated version of your application to us? We will debug this and get back to you.

Please send the APK to support@freshchat.com.

[2018-12-18 09:15] MuthuFD commented on #35
@gilshallem We are closing this issue. Please share obfuscated version of your application to support@freshchat.com. We will debug and get back to you.

[2018-12-18 09:15] #35 closed

[2018-12-26 16:03] vishnyakov-aleks opened #36 "App crashes at last time"
FreshChat does not run, when call .showConversations()

[code]

On AVD and meizu was tested

[2018-12-27 11:09] vishnyakov-aleks commented on #36
Closed, crash was caused by my dependency in basequickadapter
now i using this dependency without crashes
    api 'androidx.recyclerview:recyclerview:1.0.0'
instead of
    api 'androidx.recyclerview:recyclerview:1.1.0-alpha01'

Sorry =)

[2018-12-27 11:09] #36 closed

[2019-01-02 14:22] Sabareeshboopathi opened #37 "How to use Freshchat with Fragment?"
Hi Guys,

I am having Bottom navigation with different fragments. I want to load freshchat conversation in to Frame Layout. Anybody able to help me?

Thanks,
Sabareesh Boopathi

[2019-01-03 05:33] MuthuFD commented on #37
Hi @Sabareeshboopathi , All Freshchat SDK screens are full screen activities. They can not be embedded inside a FrameLayout like a Fragment.

[2019-01-03 09:37] StevenStarz opened #38 "Fatal Exception: java.lang.IllegalArgumentException: Unknown pattern character 'Y'"
Fatal Exception: java.lang.IllegalArgumentException: Unknown pattern character 'Y'
       at java.text.SimpleDateFormat.validatePatternCharacter(SimpleDateFormat.java:323)
       at java.text.SimpleDateFormat.validatePattern(SimpleDateFormat.java:312)
       at java.text.SimpleDateFormat.<init>(SimpleDateFormat.java:365)
       at com.freshchat.consumer.sdk.j.n.bp(Unknown Source)
       at com.fre

[2019-01-03 09:38] StevenStarz commented on #38
Hello, Can someone help me with this error.

[2019-01-03 09:39] StevenStarz commented on #38
This error thrown when i calling this script
Freshchat.showConversations()

[2019-01-03 10:01] tryprasannan commented on #38
@StevenStarz Can you confirm what version of SDK are you on ? If you are not on latest, we would recommend you update to 2.0.1 and check

[2019-01-04 08:50] deathstroke007 commented on #26
I am getting this error too. I have already initiated the conversation and get the restoreId and i save it somewhere. Now i clear the App data. I again login to the Application. When i call identifyuser() passing the same external id and the restoreid, i am getting the no channels. but when i click back and again call the code its working fine. I have demo implementation here.

oncreate of my Acti

[2019-01-04 08:51] deathstroke007 commented on #26
When i click onback pressed from the SDK's Shwoconversations Activity and again click the button i am getting the previous conversations.

[2019-01-04 09:08] MuthuFD commented on #26
Hi @deathstroke007 , Can you tell us what version of Freshchat SDK you are using?

[2019-01-04 09:13] deathstroke007 commented on #26
'com.github.freshdesk:freshchat-android:1.5.3' this version

[2019-01-04 09:16] MuthuFD commented on #26
Recently we have released a fix for this issue.

Can you update to our latest SDK version 2.1.0.

[2019-01-04 09:17] deathstroke007 commented on #26
Okay sir. I will implement it and intimate you right away. Thanks

[2019-01-04 09:37] deathstroke007 commented on #26
It is still not working. After deleting the data and calling the identifyuser(external ,restore) shows no channels and when I press back and again click its working fine.

[2019-01-04 09:58] deathstroke007 commented on #26
Are you there??

[2019-01-04 10:45] MuthuFD commented on #26
Hi @deathstroke007 , Please send us your query at support@freshchat.com. We can schedule a screen sharing session and debug this.

It will be helpful if you can share the list of Freshchat APIs used along with where in your Application flow they are being used.

[2019-01-04 11:10] deathstroke007 commented on #26
I have sent the query to the mentioned address. How to schedule a screen sharing session?

[2019-01-04 11:57] MuthuFD commented on #26
@deathstroke007 Can you share the ticket id which you received.

[2019-01-04 16:03] deathstroke007 commented on #26
Hi Muthu. Thanks for supporting me back then. Also i am facing problem integrating the push notifications in Android. Which FCM server key should i add in the dashboard. I ahve added the FCM server key under project settings -> cloud messaging. But it is not working. Help

[2019-01-04 16:49] MuthuFD commented on #26
@deathstroke007 Please use FreshchatNotificationConfig.launchActivityOnFinish API to set the activity to launch on the same task.

For more details refer section 7.2 [here](https://support.freshchat.com/support/solutions/articles/229319)

[2019-01-04 17:50] deathstroke007 commented on #26
Sir, I am using the same but it is creating another task. I find two instances of my Application.

[2019-01-06 02:56] #37 closed

[2019-01-06 19:30] deathstroke007 commented on #19
Getting the same error.

I am changing the style for particular activity like this in AndroidManifest.xml

[code]

@style/freshchattheme

[code]

[2019-01-10 03:56] Slake07 opened #39 "FAQs not loading on release build"
I had integrated freshchat with my application. While running in debug build, my FAQs listed properly. but when i run release build, FAQs not listed and also not showing any errors in logs.

[2019-01-10 05:15] MuthuFD commented on #39
Hi @Slake07 ,
I think you have contacted us thru support@freshchat.com also.
Please share us your release version of your apk. We will debug and help you out.

[2019-01-10 15:30] gilshallem commented on #35
Hi Again,
I am sorry I didn't have time to create an obfuscated version.

here is the code:
from the build.gradle:

api 'com.github.freshdesk:freshchat-android:1.5.3'

ConversationOptions opts = new ConversationOptions();
List<String> tags = Global.getInstance().getFreshChatTags();
if (tags!=null)
    opts.filterByTags(tags,null);

Freshchat.showConversations(getApplicationContext(),opts);
 overri

[2019-01-17 02:00] sweetdeath93 commented on #4
are there any updates on this issue?

[2019-01-22 11:22] Binusz commented on #18
This is serious problem.
We can change app locale programmatically below Android 8.0 . However, above 8.0, user have to change device language...

[2019-01-28 09:31] MuthuFD commented on #39
Hi @Slake07 !
We saw that JSONObject was obfuscated.
Adding rules to retain org.json. package in your proguard rules will resolve the issue.
​
-keep class org.json.** { *; }
-keep interface org.json.** { *; }

[2019-01-28 09:31] #39 closed

[2019-01-28 09:32] MuthuFD commented on #38
We are closing this issue. Please feel free to reopen if you are still facing this issue.

[2019-01-28 09:32] #38 closed

[2019-01-28 09:45] #25 closed

[2019-03-07 19:04] deathstroke007 opened #40 "Notification up button opens application in another task"
I have specified the launchActivityOnFinish(SplashScreen.class.getName()) but when i click on the back button it will create the Activity in a new Task and i am able to see another task in my Recent Screen. What to do?

[2019-03-12 15:14] Alexey- commented on #33
I forgot about this problem for a while, but it looks like it's still there.

Right now, my code looks like this:
[code]

Customer is final, customer.email is final too. Since the app doesn't crash, email is definitely not empty.

And yet we continue to receive messages without any user information from this version of the app.
I was able to find 4 buggy users this week (amongst few hundreds)

[2019-03-13 08:06] MaxDunzo commented on #11
How many times do you send that Broadcast event ?? .
is it only once ??. . if i miss the event somehow . . then the only option is to get it through Freshchat.getInstance(getApplicationContext()).user.restoreId    ????

[2019-03-22 01:59] gnumilanix opened #41 "Add support for metadata when launching conversation"
As a provider for connecting business with users, Freshchat has been missing a feature to provide, **metadata when launching conversation**.

Having been integrated with Freshchat for almost 2 years now, this has been extremely frustrating for our customers and support team. We to ask the user for the order id and the user needs to provide it. Our user thinks we are stupid because, we launched the

[2019-03-27 10:25] skybur commented on #23
Any news on this? I also get this error after upgrading to AndroidX
[code]

[2019-04-01 13:03] MuthuFD commented on #41
Thanks for your feedback @gnumilanix .
We will look to incorporate this use case into our product.

[2019-04-02 13:39] gyatsina opened #42 "Can't take photo with camera"
I can't take photo with camera in Freshchat, though I have configured FileProvider in Manifest
What else could be wrong?
I have successfully uploaded photo from gallery, it worked. Then I tries camera - no success.

the error I get on the screen is: "Failed to access camera! Error:351"
(though I have camera permission in Manifest.)

the error I get in log is:
E/FRESHCHAT: Exception on motorola Nex

[2019-04-24 16:10] kabirkhaan opened #43 "Push Notification are not coming after update to lower than Android 8 device"
After updating the library to version `2.4.1` push notifications stop working. If the device is in background. This issue is appearing on devices are lower than `android 8`

We were using '1.5.2`version before.

[2019-05-02 09:38] jaydesai111 opened #44 "When i click onback pressed from the SDK's Shwoconversations Activity and again click the button i am getting the previous conversations."
using implementation 'com.github.freshdesk:freshchat-android:2.4.1'

[2019-05-02 09:47] rameshfreshworks commented on #44
Hi Jay,
Please share the steps to reproduce this issue?

[2019-05-02 09:53] jaydesai111 commented on #44
Freshchat.getInstance(NapsNibbleApp.getInstance()).identifyUser(authManager.getUserEmail(), "aa58667e-ebf4-4628-a41a-7237650aee39");

[2019-05-02 09:55] rameshfreshworks commented on #44
Hi Jay ,

[2019-05-02 09:55] rameshfreshworks commented on #44
Hi Jay ,

[2019-05-02 09:55] jaydesai111 commented on #44
hi

[2019-05-02 09:55] jaydesai111 commented on #44
is there any place i can share video?

[2019-05-02 10:03] rameshfreshworks commented on #44
Hi Jay,
You can either upload the video to any cloud storage(like Google Drive or Dropbox) and share the link here or drop an email with video attachment to support@freshchat.com

[2019-05-16 10:40] tjohnn opened #45 "Unresolved reference handleFcmMessage"
Trying to show a notification in Fcm Service `onMessageReceived()` like
```Freshchat.getInstance(applicationContext).handleFcmMessage(this, remoteMessage)```

The `handleFcmMessage()` seems to be missing from the api and can't be resolved by android studio. I am using freshchat android sdk version `2.5.0`

[2019-05-16 10:46] MuthuFD commented on #45
Hi @tjohnn,

Try using
Freshchat.handleFcmMessage(this, remoteMessage);

[2019-05-16 11:04] tjohnn commented on #45
Okay thanks for the quick response. It would be nice if it is updated in docs though.

[2019-05-16 11:04] #45 closed

[2019-05-20 10:10] vijaemanlapaz opened #46 "RuntimeException"
Hi,

Whenever i run my application im getting

Any idea how to fix this??

[2019-05-20 10:47] MuthuFD commented on #46
Hi @vijaemanlapaz ,
Freshchat SDK is shipped with Picasso version 2.5.2. This error is thrown if your application is using 2.71828 or any of the newer version.
If you are on any other version of Picasso or if you want to use your own image downloading logic, please refer Section 10 in our documentation https://support.freshchat.com/support/solutions/articles/229319

[2019-05-20 10:47] #46 closed

[2019-05-20 13:07] vijaemanlapaz commented on #46
To anybody else experiencing this, you can do the following as a work around if you do not want to change the version of your **Picasso**.

`Freshchat.Freshchat.setImageLoader(com.freshchat.consumer.sdk.j.af.aw(context))`

@MuthuFD thanks for the quick response.

[2019-05-29 23:39] eonghk opened #47 ""compile" should be replaced with "implementation""
'compile' is deprecated. Please update to 'implementation'.
http://d.android.com/r/tools/update-dependency-configurations.html

[2019-06-10 13:19] samosudov opened #48 "How to set user info or user property?"
version 2.6.0.

MethodNotAllowedException for Freshcaht.setUser() and Freshchat.setUserProperties().

[2019-06-11 05:56] MuthuFD commented on #48
@samosudov
1. If this is a runtime exception, Please share below details
     - Are you using JWT for user authentication
     - Please share us the complete exception log
     - Please share us the Freshchat config passed to init(). (Remove App id and App key)
     - Is this happening for all user or a particular user?
     - Please share us your Application flow and Freshchat SDK APIs usage.
2.

[2019-06-11 12:16] samosudov commented on #48
Thank you! I'll use try-catch

[2019-06-13 06:01] evandavid commented on #42
Hi, i found a solution for this

in res/xml/freshchat_file_provider_paths.xml

write
`<paths xmlns:android="http://schemas.android.com/apk/res/android">
    <external-path
        name="external"
        path="." />
    <external-files-path
        name="external_files"
        path="." />
    <cache-path
        name="cache"
        path="." />
    <external-cache-path
        name="external_cach

[2019-06-13 11:33] gyatsina commented on #42
great! it works

[2019-06-20 13:51] daadu opened #49 "Request : migrating to AndroidX"

[2019-06-25 11:36] #48 closed

[2019-07-11 11:36] JordyRiwal commented on #23
We are also getting this error.

Fresh chat version 2.6.0
CompileSdkVersion 28
MinSdkVersion 21
TargetSdkVersion 28

This is how we use it:
[code]
This is the error:
[code]

[2019-07-17 05:21] #42 closed

[2019-07-17 05:24] MuthuFD commented on #40
Hi @deathstroke007 , Please upgrade to the latest version of SDK. We have resolved this issue.

[2019-07-17 05:24] #40 closed

[2019-07-17 05:30] MuthuFD commented on #43
Hi @kabirkhaan, Are you still facing this issue. We have not made changes to notifications recently.

1. Is this happening in all device below 8?
2. Is `push notification enabled` true for this user in Web portal?

[2019-07-17 05:32] MuthuFD commented on #41
We are working on a feature that will be helpful in this scenario. We will update here after release.

[2019-07-17 05:44] MuthuFD commented on #22
Closing this issue. If you are still facing this issue in our latest version, feel free to reopen

[2019-07-17 05:44] #22 closed

[2019-07-17 05:46] MuthuFD commented on #23
Hi @chaitanya-exp, Are you still facing this issue in our latest version.

Please update to our latest SDK version.

Closing this issue. If you are still facing this issue in our latest version, feel free to reopen

[2019-07-17 05:51] MuthuFD commented on #32
Hi @knikolou, Freshchat Phonegap plugin is developed and maintained by a Third Party.

Please raise your issue here - https://github.com/techaffinity/freshchat-phonegap/issues

If your issue is not sorted, please reach out to us through support@freshchat.com.

[2019-07-17 05:51] #32 closed

[2019-07-17 05:53] JordyRiwal commented on #23
Hi @MuthuFD,
Why is this issue closed? 6 days ago I added a comment that this issue still occurs in your latest SDK and that we are now not able to use FreshChat in the app! Please fix this ASAP.

[2019-07-17 06:17] MuthuFD commented on #23
Hi @JordyRiwal, Thanks for letting us know.
We need few more details. Can you contact us through support@freshchat.com

Reopening this issue.

[2019-07-17 06:44] MuthuFD commented on #44
Hi @jaydesai111 , I think you need to save restore id to user mapping in your server and provide us the same to restore. Please refer section 3.4 here - https://support.freshchat.com/support/solutions/articles/229319-freshchat-android-sdk-integration-steps

Closing this issue. If you still facing this issue, please reach out to us through support@freshworks.com

[2019-07-17 06:44] #44 closed

[2019-07-17 06:48] MuthuFD commented on #49
Hi @daadu ,

Thanks for asking this.

We might not be able to migrate the existing SDK because it might not work for majority of our customer.

On that note, we will surely look into how we can support customers using AndroidX.

[2019-07-17 07:10] MuthuFD commented on #47
Hi @eonghk , I hope you are talking about instructions in README. We have updated that.

Closing this issue. If this is not what you mean, feel free to reopen and explain the issue.

[2019-07-17 07:10] #47 closed

[2019-07-17 07:15] MuthuFD commented on #34
Hi @j2emanue , We are unable to reproduce this.

Please feel free to try out our latest version of SDK and reopen if this issue is still present.

Closing this issue now.

[2019-07-17 07:15] #34 closed

[2019-07-18 11:40] JordyRiwal commented on #23
Updating the constraint layout to a stable version, fixed the issue for me:
`implementation 'androidx.constraintlayout:constraintlayout:1.1.3'`

[2019-07-18 14:41] daadu commented on #49
@MuthuFD nothing particular. I am using this SDK as Flutter Plugin, check [flutter_freshchat](https://pub.dev/packages/flutter_freshchat), Since I am migrating to AndroidX, flutter requires all plugin to either use AndroidX xor Android.

If existing clients are using Android lib, then I guess can you host a variant with AndroidX? or should I fork this project and host it myself?

[2019-07-18 15:16] MuthuFD commented on #49
Hi @daadu,
Flutter plugin looks cool. We would also like to provide a AndroidX variant. But all the moment we will not be able to do it.

Please fork and give it a shot.

If you need any help with documentation or native SDK api queries, feel free to contact us at support@freshchat.com.

[2019-07-23 23:03] eonghk commented on #47
I'm talking about this file in your project.
https://github.com/freshdesk/freshchat-android/blob/master/freshchat_sdk/build.gradle
You may try your SDK with a simple project and you will see the warning.

[2019-07-24 03:49] MuthuFD commented on #47
Hi @eonghk , Thanks for explaining.
We will make changes to improve this experience.

[2019-07-25 06:48] sdj9391 opened #50 "UncaughtException: java.lang.IncompatibleClassChangeError"
I am trying to open Freshchat conversation
`Freshchat.showConversations(getApplicationContext());`

[code]

`Project Configuration`
minimumSdkVersion -> 21
compileSdkVersion -> 28
FreshChat SDK version -> com.github.freshdesk:freshchat-android:2.6.0
and migrated to androidX

`NOTE`
I have tried using the updated version of [constraintlayout](https://github.com/freshdesk/freshchat-android/issues/23

[2019-07-25 09:08] MuthuFD commented on #50
Hi @sdj9391 , Looks like this same [issue](https://github.com/freshdesk/freshchat-android/issues/23#issuecomment-477083478).

Please use stable AndroidX libraries if you not.

[2019-07-25 13:44] sdj9391 commented on #50
Hi @MuthuFD, I have updated appcompact lib and thank you it is working fine.

[2019-07-25 13:44] #50 closed

[2019-08-07 08:56] sagarbandamwar commented on #23
i am getting same issue since one week and i have no idea how to get rid of this
@JordyRiwal  i have used stable version of every dependency i added to my gradle

java.lang.IncompatibleClassChangeError: Class 'com.freshchat.consumer.sdk.activity.ChannelListActivity' does not implement interface 'androidx.lifecycle.LifecycleOwner' in call to 'androidx.lifecycle.Lifecycle androidx.lifecycle.Lifecycl

[2019-08-07 09:01] JordyRiwal commented on #23
@sagarbandamwar Can you share your gradle dependencies?

[2019-08-07 09:36] sagarbandamwar commented on #23
@JordyRiwal  // here it is
dependencies {
    implementation fileTree(dir: 'libs', include: ['*.jar'])
    testImplementation 'junit:junit:4.12'
    androidTestImplementation 'androidx.test:runner:1.2.0'
    androidTestImplementation("androidx.test.espresso:espresso-core:3.1.0"){
        exclude module: 'support-annotations'
        exclude module: 'support-v4'
        exclude module: 'support-v13

[2019-08-07 09:41] sagarbandamwar commented on #23
please take a look

[2019-08-07 12:06] sagarbandamwar commented on #23
@JordyRiwal  I have shared the Gradles please take a look and help me out

[2019-08-07 12:24] JordyRiwal commented on #23
Hi @sagarbandamwar, I checked your dependencies but they look oke to me. I think you can better contact Freshchat support@freshchat.com for this issue

[2019-08-27 12:22] abomadi commented on #46
@MuthuFD im facing this issue with Cordova Plugin as well, i cant update the plugin with @vijaemanlapaz solution but i dont know where exactly inside
`class freshchatPlugin extends CordovaPlugin `

[2019-08-30 07:33] sanketpatel29 opened #51 "Getting Crash over ConversationDetailActivity, This issue started occuring after we moved out publishing APK to AAB"
Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.ayopop/com.freshchat.consumer.sdk.activity.ConversationDetailActivity}: android.view.InflateException: Binary XML file line #44: Binary XML file line #7: Error inflating class ImageView
       at android.app.ActivityThread.performLaunchActivity + 3208(ActivityThread.java:3208)
       at android.app.ActivityThre

[2019-08-30 07:58] sanketpatel29 commented on #49
Please Release with androidX[like 2.8.0] and Existing customers who never updated to androidX ,Let them use older 2.7.0.

[2019-08-30 11:51] PoriLisa opened #52 "java.lang.IllegalArgumentException: Unsupported version of Picasso found"
Caused by: java.lang.IllegalArgumentException: Unsupported version of Picasso found. Please create and set custom Image loader using Freshchat.setImageLoader().

[2019-08-30 12:19] PoriLisa commented on #52
Freshchat.setImageLoader(Objects.requireNonNull(af.aw(getApplicationContext())));

it was the solution

[2019-08-30 12:20] #52 closed

[2019-08-31 13:13] PoriLisa commented on #33
Map<String, String> userMeta = new HashMap<String, String>();
userMeta.put("userLoginType", "Facebook");
userMeta.put("city", "SpringField");
userMeta.put("age", "22");
userMeta.put("userType", "premium");
userMeta.put("numTransactions", "5");
userMeta.put("usedWishlistFeature", "yes");

//Call setUserProperties to sync the user properties with Freshchat's servers
Freshchat.getInstance(getApplicat

[2019-08-31 14:02] PoriLisa opened #53 "Register the user"
unable to register the user details by using this

FreshchatUser user = Freshchat.getInstance(getApplicationContext()).getUser();
        user.setFirstName("John").setLastName("Doe").setEmail("john@john.doe").setPhone("001", "2542542544");

[2019-09-01 12:27] PoriLisa commented on #41
hello , how to add meta data of an user and showing them their problem per order like zomato .

[2019-09-01 19:56] kusumakara commented on #17
Notification sound doesn't play on SAMSUNG devices. While normal GSM calls are going on.
Android Version: 8.1.0

[2019-09-02 09:57] MuthuFD commented on #53
@PoriLisa Are you calling setUser after updating user details?

[2019-09-06 22:35] laitooo opened #54 "Error:warning: Ignoring InnerClasses attribute for an anonymous inner class"
I successfully integrated the api into my app , i wanted to build an apk file but it failed with this very long error

`Error:associated EnclosingMethod attribute. This class was probably produced by a
Error:warning: Ignoring InnerClasses attribute for an anonymous inner class
Error:(com.freshchat.consumer.sdk.activity.ArticleDetailActivity$2) that doesn't come with an
Error:warning: Ignoring Inne

[2019-09-07 03:18] PoriLisa commented on #43
hii, I can see the update of users meta data after refreshing the freshchart.

[2019-09-07 11:03] PoriLisa opened #55 "Integrate in adapter"
How to declare the freshchart in adapter of android application

[2019-09-07 11:35] kabirkhaan commented on #43
Hello Lisa,

Thanks for your concern, it's working now but i will update you on Monday

On Sat, 7 Sep 2019, 05:18 PoriLisa, <notifications@github.com> wrote:

[2019-09-11 10:30] adibrusydif commented on #49
sorry, Is react-native-freshchat-sdk already support Android X ? @MuthuFD

[2019-09-11 10:32] rameshfreshworks commented on #49
yes .. we support with stable versions of AndroidX. Let us know if you face any issue in this regard

[2019-09-11 11:00] adibrusydif commented on #49
Thankyou for response my problem @rameshfreshworks
i have integrating on same version of react-native-freshchat-sdk: 2.0.0
On Apps without Android X : Working
On App with Android X : Not Working

Now Im just checking on my android x apps node_modules/react-native-freshchat-sdk/android/buld.gradle  and i found the com.github.freshdesk:freshchat-android:2.5.2 but your latest is 2.7.1, it is causing

[2019-09-11 11:04] adibrusydif commented on #49
@rameshfreshworks  btw ,its you?
<img width="1044" alt="Screen Shot 2019-09-11 at 18 00 30" src="https://user-images.githubusercontent.com/29650690/64691944-199b6580-d4be-11e9-833c-7a01004c5104.png">

my team has receive your mail and tried your solution but still cant work

[2019-09-12 06:22] rameshfreshworks commented on #49
@adibrusydif Hi .. yeah it's me :).  Our team is looking at the issue, will get back to you shortly.

[2019-09-12 07:15] adibrusydif commented on #49
thankyou @rameshfreshworks :)

[2019-09-25 10:04] generalkolo opened #56 "On Back Button override"
Is there any way to override the back button of the FAQ activity function?

[2019-09-25 11:56] rameshfreshworks commented on #56
Hi @generalkolo,
We do not have a solution for this now. we are interested in knowing the use case you are trying to solve?

[2019-09-30 04:43] viddin18 commented on #28
@hariharanc I am facing the same issue as well. Can you let us know which proguard rule causes this issue ?

[2019-10-17 11:25] kashyapRamChandra opened #57 "How to restore user login after clearing app data?"
Provide any tutorials or example to restore the existing user on clearing app data. Currently document  is not matching with latest released code.

[2019-10-17 13:44] rameshfreshworks commented on #57
Hi @kashyapRamChandra ,
You can use the restore use case for user login scenarios.
Whenever a user logs in into the app, check if the user already has a restore id (which is a unique id be generated by Freshchat for an identified user) and restore the user so that you can restore his entire chat history.
Coming to the user clear, this can be done on the logout case. You can refer our documentation

[2019-10-24 05:03] codelegger opened #58 "Runtime app locale change not working"
Our App support different locales and user can change locale within App but on Locale change FreshChat Locale has not being changed unless we go to device settings and change Locale from there.
We are following sdk integration step as per this [link](https://support.freshchat.com/support/solutions/articles/50000000207-freshchat-android-sdk-integration-steps)
And as described in the section **7.4 R

[2019-10-24 05:37] rameshfreshworks commented on #58
Hi @codelegger,
Setting run time locale is a bit tricky in android. we would suggest you use the following method for setting runtime locale in the app

public static void changeLocale(Context activityContext, String lang){
  Locale locale = new Locale(lang);
  Resources applicationRes = activityContext.getApplicationContext().getResources();
  DisplayMetrics dm = applicationRes.getDisplayMetrics(

[2019-10-24 06:10] codelegger commented on #58
@rameshfreshworks Thanks it works but for arabic RTL not working please see this
<img width="370" alt="Screen Shot 2019-10-24 at 2 09 21 PM" src="https://user-images.githubusercontent.com/5968581/67458121-f7256c00-f667-11e9-80ac-8b0f52b4d78b.png">

[2019-10-24 07:33] rameshfreshworks commented on #58
@codelegger is RTL configuration getting applied for the entire app? or is it only freshchat screens that's not applied?

[2019-10-24 08:21] codelegger commented on #58
Its only FreshChat screens not applied. Rest of the App is fine

[2019-10-24 09:02] rameshfreshworks commented on #58
Hi @codelegger,
Please contact our support by emailing to support@freshchat.com, We will see how to take this forward by setting up a call or something

[2019-10-29 09:38] TheDoorNextBoy opened #59 "Support for SDK 29"
Hi,
at the moment the FAQ crashes when I update to Android SDK 29 and start it (on an Android Q device or emulator).
Could you have a look at that?
Let me know if you need more information, but I think this should be easy to reproduce.
Thank you

[2019-10-30 12:24] rameshfreshworks commented on #59
Hi @TheDoorNextBoy
We could not reproduce this at our end. Please contact our support by emailing to support@freshchat.com, We will let you know how to take this forward.

[2019-11-01 10:19] TheDoorNextBoy commented on #59
Hi @rameshfreshworks
I found the problem. It crashes when setting a custom font with Calligraphy as described here https://support.freshchat.com/support/solutions/articles/229492-freshchat-android-sdk-themes-and-customizations and when targeting SDK 29 and running on a device with 29.
I will try to fix that. Maybe updating Calligraphy to 3.x (2.x is no longer continued) fixes it. I'll let you know

[2019-11-01 11:14] TheDoorNextBoy commented on #59
So I removed Calligraphy and everything is working fine now.
The recommended way should be to use the `<item name="android:fontFamily">@font/my_custom_font</item>` style attribute. Maybe you can update your documentation.
Feel free to close the ticket.
Cheers

[2019-11-01 11:41] rameshfreshworks commented on #59
Thanks for the update @TheDoorNextBoy. I am closing this issue now.

[2019-11-01 11:41] #59 closed

[2019-11-21 02:25] sandrocsimas opened #60 "Allow to customize the title according to device's language and channel."
It there a way to change the title according to the device's language for each channel?
[code]
I thought that it could be possible by filtering by a tag and setting the filteredViewTitle, but nothing happen and the title configured on the Channels Settings is displayed.

[2019-11-21 16:44] rameshfreshworks commented on #60
Hi @sandrocsimas
Freshchat supports configuring a channel in multiple languages. When configured, Freshchat SDK fetches the channels as per the device locale. This feature is available from the estate plan.

Coming to the tags and filter view title, Following are possible results for the tag filter

1. Multiple channels found - Takes you to channel listing screen and filteredViewTitle will be the

[2019-11-21 21:44] sandrocsimas commented on #60
In my case it's a single channel found, so to be able to localize the title I need to upgrade.

[2019-11-21 21:44] #60 closed

[2019-11-26 14:49] biancamoreiragyg opened #61 "Loading indefinitely Android SDK 3.0.0"
Hello,

I did a small investigation with the Android SDK and IOS SDK last week using a free account. I used this free account APP Key and APP Id. After that, the company I work for decided to proceed on using FreshChat. Then, I changed to use their APP Key and APP Id and after that I'm stuck on the loading messages screen. I can't test nor doing anything. Both iOS and Android are stuck on the load

[2019-11-27 10:23] WijnandOfficeApp opened #62 "Can't install demo app"
When I try to install the demo app using `./gradlew demo_app:installDebug`, I get the following build error:

[code]

[2019-11-27 13:09] MuthuFD commented on #62
@WijnandOfficeApp Can you try doing a clean build of the demo project?

[2019-11-27 13:11] MuthuFD commented on #61
@biancamoreiragyg
As your Freshchat account is present in Freshchat EU server. Freshchat SDK domain should be pointing to Freshchat EU servers. Can you check if this is done right?
​
**Sample code:**
FreshchatConfig freshchatConfig = new FreshchatConfig("APP_ID", "APP_KEY");
freshchatConfig.setDomain("https://msdk.eu.freshchat.com");
Freshchat.getInstance(context).init(freshchatConfig);

[2019-11-27 13:11] MuthuFD commented on #61
Freshchat clusters and their SDK domains
US - https://msdk.freshchat.com (default)
AU - https://msdk.au.freshchat.com
EU - https://msdk.eu.freshchat.com
IN - https://msdk.in.freshchat.com
US2 - https://msdk.us2.freshchat.com

[2019-11-27 13:11] #61 closed

[2019-11-27 13:13] MuthuFD commented on #55
Please elaborate your question?
Closing this issue. Feel free to open the issue after elaborating.

[2019-11-27 13:13] #55 closed

[2019-11-27 13:14] MuthuFD commented on #56
Closing this issue.
Feel free to open the issue after explaining your use case.

[2019-11-27 13:14] #56 closed

[2019-11-27 13:16] MuthuFD commented on #57
@kashyapRamChandra Hope @rameshfreshworks suggestions was helpful.
You can refer below for more details
https://support.freshchat.com/support/solutions/articles/50000000207

[2019-11-27 13:16] #57 closed

[2019-11-27 13:19] MuthuFD commented on #53
@PoriLisa If you are still facing issues, feel free to post your question and reopen this issue.
You can also reach out to us through support@freshchat.com

[2019-11-27 13:19] #53 closed

[2019-11-27 13:21] MuthuFD commented on #43
@kabirkhaan If you still facing this issue, feel free to reach out to us through support@freshchat.com

[2019-11-27 13:21] #43 closed

[2019-11-27 13:26] MuthuFD commented on #51
Hi @sanketpatel29 , Hope your issue is resolved. If you are still facing this issue, please post the below details and reopen this issue.
1. Freshchat SDK version
2. Is this happening in all devices are a particular devices

[2019-11-27 13:26] #51 closed

[2019-12-02 10:08] WijnandOfficeApp commented on #62
This was after a fresh checkout of the project.

[2019-12-02 12:04] MuthuFD commented on #62
Hi @WijnandOfficeApp ,
Demo app had very old version of Freshchat SDK. We have updated it now.
It should work fine now. Please try again.

We are also working on a cooler demo app. It should be out in couple of weeks. Cheers !!!

[2019-12-02 12:04] #62 closed

[2019-12-02 12:05] MuthuFD commented on #62
Closed this issue. If you are still facing this issue, Feel free to reopen.

[2019-12-02 13:20] WijnandOfficeApp commented on #62
The updated demo works, thanks for the fix! :smiley:

[2019-12-17 18:46] Softkeydel commented on #61
I have downloaded the sample code and used my appid and appkey but the app stuck on loading

[2019-12-17 18:47] Softkeydel commented on #61
I have downloaded the sample code and used my appid and appkey but the app stuck on loading. Please help asap

[2019-12-18 03:35] MuthuFD commented on #61
Hi @Softkeydel ,
This can be due to 2 reasons
1. APP ID and APP KEY are wrong or inverted

2. Freshchat domain is not set in FreshchatConfig

[2019-12-18 16:55] Softkeydel commented on #61
APP ID and APP KEY are ok.

for domain I'm using
IN - https://msdk.in.freshchat.com
Still stuck on loading. Please help

[2019-12-18 16:55] Softkeydel commented on #61
APP ID and APP KEY are ok.

for domain I'm using
IN - https://msdk.in.freshchat.com
Still stuck on loading. Please help

[2019-12-18 18:42] gilshallem opened #63 "Events Timeline"
Please add support for "Events Timeline"
It will be very useful to know what the user was doing in the app and even to add crash reports in case the app crashed.

It will be amazing if the sdk will save the events data locally and then in case the user is opening a ticket all the events will be sent to the server.

Thank you

[2019-12-19 04:47] MuthuFD commented on #63
Hi @gilshallem ,
Thanks for the request.
This feature is already in the works. It should be released in the next 30 days.
Ref: https://github.com/freshdesk/freshchat-android/issues/41

We will keep you posted. Closing this ticket for now.

[2019-12-19 04:47] #63 closed

[2019-12-19 04:50] MuthuFD commented on #61
Hi @Softkeydel , Can you share your Freshchat account number? You can find it in the webpage url.

[2019-12-19 08:50] amoljain99 opened #64 "[Xamarin] Unhandled Exception: Java.Lang.RuntimeException: Attempt to invoke interface method 'android.view.MenuItem android.view.MenuItem.setVisible(boolean)' on a null object reference"
Using update Freshchat library with xamarin android

Got -
Unhandled Exception:
Java.Lang.RuntimeException: Attempt to invoke interface method 'android.view.MenuItem android.view.MenuItem.setVisible(boolean)' on a null object reference

here is full log

12-19 14:01:48.047 V/PhoneWindow(29170): DecorView setVisiblity: visibility = 4, Parent = null, this = DecorView@2814334[]
12-19 14:01:48.050 D/V

[2019-12-19 09:12] amoljain99 opened #65 "[Xamarin] Unread message count not working"
Using update frechat library for xamarin Android
Trying with below method
   Freshchat.GetInstance(context).GetUnreadCountAsync(this);
every time it get 0 count

created broadcast with intent action for getting unread count it does not work

private class FreshchatBroadcastReceiver : BroadcastReceiver
        {
            #region API
            /// <summary>
            /// Register this instanc

[2019-12-19 09:22] Softkeydel commented on #61
Shall I share it here??

[2019-12-19 09:26] Softkeydel commented on #61
Shall I share it here??

[2019-12-19 09:26] Softkeydel commented on #61
Shall I share it here??

[2019-12-19 09:35] MuthuFD commented on #61
Hi @Softkeydel , Please share it to support@freshchat.com

[2019-12-19 09:48] rameshfreshworks commented on #65
Hi,
We would suggest registering the broadcast receiver in the Application class for both unread messages count and restore id. You can check for the unread messages count by calling getUnreadCountAsync() API and the result is returned in the callback.

[2019-12-19 10:25] rameshfreshworks commented on #64
Hi,
 Please provide us the following details to debug this issue at our end
1. Are you using xamarin.forms or xamarin.native for implementation?
2. Share us Freshchat SDK version that you are using

[2019-12-19 12:21] amoljain99 commented on #65
Hi ramesh
we have same scenario for ios also can you please add suggestion for ios xamarin code to get unread message

[2019-12-19 12:23] amoljain99 commented on #64
Hi Ramesh
we are using xamarin native with xamarin android and xamarin ios
and we are using  freshchat-android-3.0.0.aar

[2019-12-19 13:13] rameshfreshworks commented on #65
in iOS, you can use unreadCountWithCompletion() API and the result is returned in the callback.

[2019-12-19 13:51] SergeyUsov commented on #65
Hi @rameshfreshworks ,

I registered a broadcast receiver in Application. But it doesn't work.

1. I am receiving com.freshchat.consumer.sdk.MessageCountChanged action in the receiver only when Conversation screen is opened.
2. I can not receive any messages when Converstation screen is not opened. But the application is still running and another screen is in foreground.

From logs I can see:
FRES

[2019-12-19 14:10] rameshfreshworks commented on #65
Hi @SergeyUsov ,
Messages fetch would happen in the Channel listing screen(Shown if you have multiple channels)  and ConversationDetailActivity.  MessageCountChanged broadcast will be when message fetch call response has new messages in it.
To receive the messages instantly we recommend you integrate firebase notification service.

[2019-12-19 14:16] rameshfreshworks commented on #64
Hi @amoljain99 ,
Can you share us dependencies and dependency graph that the android app uses?

[2019-12-19 14:23] SergeyUsov commented on #65
Hi @rameshfreshworks,

So registering broadcast receiver is useless if Conversation screen is not opened.
We can not receive any messages via broadcast receiver  if Conversation screen is not opened.
Please confirm this.

With best regards,
Sergey

[2019-12-19 14:58] SergeyUsov commented on #65
Hi @rameshfreshworks,
Let me try to implement push notifications. Will notify about results!

[2019-12-20 11:10] SergeyUsov commented on #65
Hi @rameshfreshworks ,

I have implemented firebase notification service.
I registered broadcast receiver in Application class.

But it doesn't work.
I am not receiving com.freshchat.consumer.sdk.MessageCountChanged actions when Conversation screen is not opened.
So I can not track unread message counter is changed outside of Conversation screen.
Attached the android studio project with firebase n

[2019-12-23 16:12] amoljain99 commented on #65
@rameshfreshworks Any update for this issue

[2019-12-24 09:16] rameshfreshworks commented on #65
Hi @amoljain99 ,
I hope you have implemented FCM correctly, Are you receiving notifications for messages sent from agent portal?
Refer [this document](https://support.freshchat.com/support/solutions/articles/231986-android-push-notifications-are-not-working-how-do-i-fix-this-) for troubleshooting .

[2019-12-24 13:10] SergeyUsov commented on #65
Hi @rameshfreshworks ,
@amoljain99

After adding FCM key in Freshchat Settings > Mobile SDK on web interface it works fine. We receive notifications properly.
Thanks for your help!

[2019-12-24 18:00] #65 closed

[2020-01-07 06:10] LakshmiPriyaVikram opened #66 "Fatal Exception: android.content.ActivityNotFoundException No Activity found to handle Intent { act=android.intent.action.OPEN_DOCUMENT cat=[android.intent.category.OPENABLE] typ=image/* } com.freshchat.consumer.sdk.activity.ConversationDetailActivity.Z"
Fatal Exception: android.content.ActivityNotFoundException
No Activity found to handle Intent { act=android.intent.action.OPEN_DOCUMENT cat=[android.intent.category.OPENABLE] typ=image/* }
com.freshchat.consumer.sdk.activity.ConversationDetailActivity.Z

[2020-01-07 06:14] MuthuFD commented on #66
Hi @LakshmiPriyaVikram ,
Please share below details.
1. Steps to reproduce
2. Freshchat SDK version
3. Test device details OS, Manufacturer, etc

[2020-01-07 06:19] LakshmiPriyaVikram commented on #66
This crash is produced by real time users . I got this crash report from crashlytics.We are using fresh chat sdk version 2.6.0. Crashed device is  Xiaomi (HM 2LTE-IN) ,OS version 5.1.1.

[2020-01-07 06:55] MuthuFD commented on #66
Please share your FreshchatConfig details without App id and App key.

[2020-01-10 13:56] andreservidonigyg opened #71 "[Question] launchActivityOnFinish doesn't have support for bundle?"
Hello everyone. I'm trying to check if the user interacted with the notification from SDK but i don't see any option to add a bundle so i can see if user get out from chat activity or not.
Is there any other way?

Thanks.

[2020-01-14 07:21] rameshfreshworks commented on #71
Hi @andreservidonigyg ,
We would like to understand the use-case that you are trying to solve. Can you please provide us more info on that?

[2020-01-14 09:25] andreservidonigyg commented on #71
Hello @rameshfreshworks thanks for the reply :) I just want to check if the activity launched by the freshchat, after it handle the notification click, can have a bundle. So with this i can know from where my activity was opened.

[2020-01-14 12:46] rameshfreshworks commented on #71
Hi @andreservidonigyg ,
Sorry, We do not have support for your request. Here is the workaround we would like to suggest.
Let's say ActivityA is the one set as Fallback activity using FreshchatNotificationConfig.launchActivityOnFinish(). Where ever you launch ActivityA in your app, you can pass an intent extra to differentiate between Freshchat launch and your app launch.

[2020-01-14 14:47] andreservidonigyg commented on #71
@rameshfreshworks Thanks for the reply! I'm going to do something like this.
:D

[2020-01-14 14:47] #71 closed

[2020-01-24 11:48] gettoAndro opened #76 "Changing the language to Portuguese at runtime does not work Android 8.1"
I am trying to change the language to Portuguese, Italian on Android 8.1, but it does not work. Changing the language to French, German, English, Russian works and works on Android 7 and below with Portuguese

[code]

Only works with code pt-BR on android version 7 and below.
Another nuance on Android 8.1 is changing the language to Portuguese if i exit the application and start it again. I using

[2020-01-24 12:52] rameshfreshworks commented on #76
Hi @gettoAndro

Here is the [demo app](https://www.dropbox.com/s/i4hee0c9pqaxq6k/FreshchatLocaleDemo.zip) for run time app locale change. Please refer and make the required changes.

[2020-01-24 14:22] gettoAndro commented on #76
Hi @rameshfreshworks . I try using this code but still not work
https://www.dropbox.com/s/i4hee0c9pqaxq6k/FreshchatLocaleDemo.zip?file_subpath=%2FFreshchatLocaleDemo%2Fapp%2Fsrc%2Fmain%2Fjava%2Fcom%2Fexample%2Fdemoandroidx%2FLocaleUtils.java

[2020-01-26 11:16] mayurrathod27 opened #77 "First Time of install app Channel List not displaying"
Hello
   i done following code for restore id and conversation but when i install app then first time conversation not load after that all time conversation shows perfectly.

please know why it happen

FreshchatConfig freshchatConfig = new FreshchatConfig("xxxxxxx",
        "yyyyyyy");
freshchatConfig.setCameraCaptureEnabled(false);
freshchatConfig.setGallerySelectionEnabled(true);

Freshchat.setI

[2020-01-27 06:59] rameshfreshworks commented on #77
Hi @mayurrathod27,

Looks like you are performing both Freshchat.init() and Freshchat.showConversations() after chat option is selected. Freshchat requires some time to load all the data in the very first init. That is the reason why you are seeing a loading indicator in the very first launch.

Instead we would recommend you to do the following,

Let's say you are showing chat option in ActivityA,

[2020-01-27 07:26] rameshfreshworks commented on #76
Hi @gettoAndro,
We are adding improvements for run-time locale support. Can you check the behaviour with our beta release by replacing the freshchat 3.0.0 with following

`implementation 'com.github.freshdesk:freshchat-android:runtime-locale-SNAPSHOT'`

Let us know if this fixes your problem.

Note: We suggest not to use this in production as this not official release.

[2020-01-27 07:53] #77 closed

[2020-01-28 07:27] gettoAndro commented on #76
Hello @rameshfreshworks
I using `implementation 'com.github.freshdesk:freshchat-android:runtime-locale-SNAPSHOT'`
But still, when changing the language to Portuguese in the application on Android 8.1, the language does not change to Portuguese but to English. Only when i select Portuguese and exit the application then restart it, is everything okay

[2020-01-28 11:40] jindalnaveen4 commented on #52
Not able to find anything like af.aw......??

[2020-01-28 11:44] jindalnaveen4 commented on #52
can you please help me on this?

[2020-01-28 13:08] rameshfreshworks commented on #52
Freshchat SDK is shipped with Picasso version 2.5.2. This error is thrown if your application is using 2.71828 or any other newer version.
If you are on any other version of Picasso or if you want to use your own image downloading logic, please refer section 10 in our documentation.
https://support.freshchat.com/support/solutions/articles/229319

[2020-01-28 13:21] rameshfreshworks commented on #76
Hi @gettoAndro
We are unable to reproduce this at our end. Can you share a demo project in which we can reproduce this behaviour?

[2020-01-28 14:35] gettoAndro commented on #76
@rameshfreshworks
Sorry to bother you, I could find the problem and fix it. Works fine with implementation 'com.github.freshdesk:freshchat-android:3.0.0' . I just didn’t notice that I have overridden the method in App.

[code]

And in this method, resources (strings.xml for pt-BR doesn't exist) were returned

[2020-01-28 14:35] #76 closed

[2020-01-29 05:48] rameshfreshworks commented on #41
Hi all,
We are happy to inform you that we support logging user events from v3.1.0.
Refer section 3.3 in our documentation for more details
https://support.freshchat.com/support/solutions/articles/50000000207-freshchat-android-sdk-integration-steps

[2020-01-30 05:44] MuthuFD commented on #66
Closing this ticket.
If the issues still persists, share above details and reopen.

[2020-01-30 05:44] #66 closed

[2020-01-30 05:44] rameshfreshworks commented on #41
Freshchat now supports logging metadata from v3.1.0 hence closing this issue.

[2020-01-30 05:44] #41 closed

[2020-01-30 05:45] MuthuFD commented on #64
Closing this ticket.
If the issues still persists, share above details and reopen.

[2020-01-30 05:45] #64 closed

[2020-02-04 08:49] rameshfreshworks commented on #58
We have fixed a related run time app locale issue in [v3.2.1](https://github.com/freshdesk/freshchat-android/releases/tag/3.2.1). We hope this fixes your issue.

I am closing this issue now. Feel free to reopen if it does not solve your issue.

[2020-02-04 08:49] #58 closed

[2020-02-04 21:51] jesobreira commented on #4
Any interest to fix this?

[2020-02-05 04:27] MuthuFD commented on #4
Hi @jesobreira , If you already have file provider you need not create a new provider for Freshchat.
You can reuse the existing FileProvider for Freshchat.

**Steps to reuse existing FileProvider**
1. Add below line in your strings.xml
[code]
2. Add below tags in your providers resource xml if they are not already present.
[code]

[2020-02-05 16:54] jesobreira commented on #4
Thank you @MuthuFD, it works!

[2020-02-13 09:30] biazmoreira opened #78 "getUnreadCountAsync simply does not work!"
I need to make this work, but it gives me 0 as the number of unread messages, even when there are unread messages. What should I do to make this work?

Freshchat.getInstance(getApplicationContext()).getUnreadCountAsync(new UnreadCountCallback() {
        @Override
        public void onResult(FreshchatCallbackStatus freshchatCallbackStatus, int unreadCount) {
            //Assuming "badgeTextView"

[2020-02-19 12:03] kabirkhaan opened #79 "Infinite loading in FreshChat after fresh installation"
## Steps to reproduce:
- Fresh install the app (or clear storage)
 - Click FreshChat button

The issue will reproduce when right after initializing the chat user open chat, while user properties and channel are syncing.
 After closing the chat and open it again it will fix the issue

### Actual
- Loading is not disappearing,
### Expected
- After syncing, loading should finish and user should see t

[2020-02-19 12:50] Duraivel-Perumal commented on #79
Hi, Kabir Khan can you share your freshchat sdk version?

[2020-02-19 14:01] kabirkhaan commented on #79
version -> "3.0.0"

[2020-02-25 13:19] AniruddhaKulk opened #80 "Keyboard doesn't close on back navigation"

[2020-02-25 13:20] AniruddhaKulk commented on #80
<img width="438" alt="Screenshot 2020-02-25 at 6 48 05 PM" src="https://user-images.githubusercontent.com/19201033/75250976-a2edec80-57ff-11ea-9861-5448cd4a7ebe.png">

When I click back arrow on this screen, the keyboard should hide. But it's not happening.

[2020-02-26 09:27] vitorreis commented on #79
+1 do we have an update here  @Duraivel-Perumal

[2020-02-26 09:34] Duraivel-Perumal commented on #79
Hi Please update the SDK version to latest

[2020-02-26 09:41] Duraivel-Perumal commented on #79
@kabirkhaan @vitorreis
We are unable to reproduce this at our end. Can you try reproducing this issue in our sample app and share the code?

Sample code: https://github.com/freshdesk/freshchat-android/tree/master/Sample/FreshchatSample

[2020-03-03 11:12] davidecheli commented on #35
Any news regading this problem?

I'm still having this problem.

[2020-03-03 14:32] gilshallem commented on #35
Hi david, thank you for getting back to me. I found the source of the issue
in my code. I was runing it from a different section of my code. From the
one i tought. It works well now

On Tue, Mar 3, 2020, 18:12 David Echeli <notifications@github.com> wrote:

[2020-03-23 05:21] ankit-makwana opened #81 "Freddy Answer bot does not work on chat"
Freddy Answer bot does not reply on android when integrated through this sdk.
but, it works perfectly fine on web app(web sdk)

[2020-04-28 05:03] shriramchoubey opened #82 "Oops! failed to launch"
I am trying to start freshchat and it shows toast while starting the activity

Oops! failed to launch

[2020-04-29 06:25] rameshfreshworks commented on #82
Hi @shriramchoubey,
Could you provide us more info about where exactly this issue is happening like when using Freshchat.showConversations() or Freshchat.showFAQs() API. Also, suggest checking error logs for more info.

[2020-04-29 07:48] shriramchoubey commented on #82
Issue solved I made few changes in react native manifest file to change design

[2020-04-29 07:49] shriramchoubey commented on #82
I have another issue how to change the color and fontsize of the chat window action bar in android, I am unable to find any color variable in the documentation or the repository

[2020-04-29 08:14] shriramchoubey opened #83 "IOS app hangs"
On Calling

Freshchat.setUser(freshchatUser, (error) => {
                console.log(error);
            });

Ios application hangs,
do I have to make in ios files seprately, currently I have not put any notifications code in the freschat is it the reason.

[2020-04-29 08:43] shriramchoubey commented on #83
import React, { Component } from 'react'
import { View, StyleSheet, Image, Button } from 'react-native'
import { Freshchat, FreshchatConfig, FreshchatUser,FreshchatMessage, ConversationOptions,FaqOptions } from 'react-native-freshchat-sdk';
export default class App extends Component {
    constructor(props) {
        super(props)
    }

    componentDidMount() {
        var freshchatConfig = new F

[2020-04-29 09:34] muthukrishnan-suresh commented on #83
@shriramchoubey Can you share the payload of `freshchatUser` object?

[2020-04-29 09:48] rameshfreshworks commented on #82
@shriramchoubey , Here is the sample style setting to customize actionbar in android.

[code]

[2020-04-29 09:58] MuthuFD commented on #83
@shriramchoubey Got payload from your second message.
Can you explain what you mean by hangs? Continuous loading or app freeze?

You can share a gif or video.

[2020-04-29 13:18] kariot commented on #79
I'm also facing the same issue, can't see the chat screen.
Version I'm using: `3.3.0`
Also, I have,
1. Checked Init method is called before starting the conversation
2. Checked the App ID & App Key

[2020-04-29 20:06] shriramchoubey opened #84 "FCTheme.plist"
Where to copy FCTheme.plist to change color and font for the freshchat window,

When i edit it in FreshchatSDK folder unable to edit theme.

[2020-04-29 20:09] shriramchoubey commented on #83
var freshchatUser = new FreshchatUser();
    freshchatUser.firstName = "jon";
    freshchatUser.lastName = "ss";
    freshchatUser.email = "jon@gmail.man";
    freshchatUser.phoneCountryCode = "+91";
    freshchatUser.phone = "1111111111

[2020-04-29 20:17] shriramchoubey commented on #83
It is because after init if i call any Freshchat object function app stopped working like setUser, getUser, identifyUser, addEventlistner

But app work if directly called Freshchat.showConversations()

And user can not be identified in Freshchat customer support portal.

Is there any changes to be made in podspec
 react-native v:60.0
freshdesksdk v:2.3.1

Above i posted my whole code @MuthuFD ,

[2020-05-01 09:01] shriramchoubey commented on #84
solved

[2020-05-01 09:01] #84 closed

[2020-05-01 16:29] mageshr24 commented on #79
I'm also facing the exact issue right now, Did you figure out the problem??

[2020-05-01 19:38] kariot commented on #79
Not yet, I just contacted them by email two days back but there were no response

[2020-05-02 03:51] rameshfreshworks commented on #79
Hi @kariot  and @mageshr24 ,

The issue could be due to one of the following primary reasons
1. App id and App key was incorrectly set
2. Need to set the designated domain based on the Datacenter using FreshchatConfig.setDomain()

Default - msdk.freshchat.com ( Pointed to this without setup)
EU - msdk.eu.freshchat.com
India - msdk.in.freshchat.com
Australia - msdk.au.freshchat.com

Let us know if

[2020-05-02 05:41] kariot commented on #79
Issue was solved when domain changed to one in India, Thank You

Issue was solved when the domain changed to india. Thank You

[2020-05-02 06:46] mageshr24 commented on #79
The issue was solved. Thank you sir

[2020-05-04 08:10] LakshmiPriyaVikram opened #85 "Sometime messages are coming without user details"
I am using freshchat android sdk 2.6.0. Sometimes messages are coming without user details.In my code I am using this method to set the user "Freshchat.getInstance(getActivity()).setUser(freshUser)";

[2020-05-15 19:54] mariantonia commented on #19
Getting the same error

[2020-05-18 13:35] mariantonia opened #86 "ChannelListActivity: Error inflating class androidx.appcompat.widget.ActionBarOverlayLayout"
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.xxx/com.freshchat.consumer.sdk.activity.ChannelListActivity}: android.view.InflateException: Binary XML file line #17 in com.xxxxx:layout/abc_screen_toolbar: Binary XML file line #17 in com.xxxx:layout/abc_screen_toolbar: Error inflating class androidx.appcompat.widget.ActionBarOverlayLayout
        at android.app.ActivityThrea

[2020-05-19 05:19] rameshfreshworks commented on #86
Hi @mariantonia ,  Do you use custom fonts by using calligraphy library in your app? The older calligraphy library seems to be incompatible with the latest OS version due to restrictions and deemed as end-of-life.

[2020-05-25 16:53] angelix opened #87 "Add support for notification color"
Add support for notification color.
This is available in the NotificationCompat class.
[code]

[2020-05-25 17:07] angelix opened #88 "Multiple events from Broadcast Intent"
Registering the receiver with the following code, when a new message is received, the receiver is called two times. This happens for every new message, and if you have a getUnreadCountAsync method attached to the event, multiple execution of the method occurs.

[code]

[2020-05-25 17:20] angelix commented on #78
If you run this code in onResume method, try postpone it after onResume finishes.
eg.

[code]

[2020-05-25 17:22] angelix opened #89 "Method's getUnreadCountAsync callback is not executed when called from onResume"
Maybe related with #78 when running **getUnreadCountAsync** method in onResume, i never get a response in the callback in the first run. Only if i move the app to the background and restore it, the onResume method will be executed once more, only then i get a response in the callback.

[2020-06-07 15:17] DeMingStrong commented on #49
hello，Is this version now supported AndroidX ,Thank you for your prompt reply

[2020-06-07 15:32] DeMingStrong commented on #49
您好，此版本是否现在支持AndroidX，谢谢您的及时答复

[2020-06-16 05:30] ur3an0 opened #90 "integration with xamarin forms"
Hi, i am tray in integrate via xamarin forms using java bindings, but when make config, lauch an exception, meybe u know this issue.

thanks!

![imagen](https://user-images.githubusercontent.com/1440851/84735304-2c712800-af71-11ea-8048-aa77fe946f2f.png)

![imagen](https://user-images.githubusercontent.com/1440851/84735224-f2a02180-af70-11ea-99ea-d7155e7f8b65.png)

![imagen](https://user-images.git

[2020-06-17 14:32] KamathVishak96 opened #91 "Tapping on the notification doesn't work."
I have followed the Integration steps related to FCM. I'm getting the notifications, but when I tap on it simply does nothing. When the app is killed, and I tap on the notification it doesn't even open the app. I checked the logs when I tap on the notification and this is the only thing logged.
`D/FRESHCHAT: FreshchatReceiver::onReceive() called`

[2020-06-19 01:46] ur3an0 commented on #90
some body?

[2020-06-19 11:12] adibrusydif commented on #49
hello again @rameshfreshworks
i want to ask something,
Are react-native-freshchat-sdk version 2.6.1 compatible with react native 0.62 ?

[2020-06-19 11:22] DeMingStrong commented on #49
I am not very clear, if it is convenient to add my contact information: Telegram (+60 1123836103), we can discuss together

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Adib"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月19日(星期五) 晚上7:13
收件人:&nbsp;"freshdesk/freshchat-android"<freshchat-android@noreply.github.com&gt;;
抄送:&nbsp;"Struggle "<1299185962@qq.com&gt;;"Comment"<comment

[2020-06-19 11:34] adibrusydif commented on #49
which version of react-native-freshchat-sdk support on React Native version 0.62 ?

[2020-06-19 11:43] DeMingStrong commented on #49
I am using 3.6.0 now, android version is 3.5.3

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Adib"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月19日(星期五) 晚上7:34
收件人:&nbsp;"freshdesk/freshchat-android"<freshchat-android@noreply.github.com&gt;;
抄送:&nbsp;"Struggle "<1299185962@qq.com&gt;;"Comment"<comment@noreply.github.com&gt;;
主题:&nbsp;Re: [freshdesk/freshchat-android] Request

[2020-06-19 12:58] DeMingStrong commented on #49
What do you use to integrate the SDK

[2020-06-22 20:38] rahuldange09 opened #92 "Question"
Hello,
I would like to ask that
I should initialize freshchat everytime app launches or just once when user logins the app (only one time call after login.. nothing after relaunching app).

[2020-06-23 08:58] iamaravindh opened #93 "App is crashing while opening freshchat"
Fatal Exception: java.lang.NullPointerException
Attempt to invoke virtual method 'java.lang.String com.freshchat.consumer.sdk.beans.Channel.getName()' on a null object reference
com.freshchat.consumer.sdk.a.c.getView

[2020-06-24 07:00] MuthuFD commented on #93
@iamaravindh Are you on the latest version of Freshchat SDK?

[2020-06-24 07:06] MuthuFD commented on #92
@rahuldange09 We recommend you to initialise SDK once per launch of application.
You can choose to initialise on app launch or before sdk use.
Please make sure SDK has few seconds between init and sdk screen launch. This is needed for SDK to show updated content.

If you have more questions, mail us at support@freshchat.com

[2020-06-24 07:06] #92 closed

[2020-06-24 12:49] vaasav-kumar opened #94 "reinit freshchat config"
is there any event to reinit freshchat config

[2020-06-24 12:50] vaasav-kumar opened #95 "callback for destroy"
can you provide callback for fcwidget.destroy().
so that we can reinit freshchat config

[2020-06-24 12:53] vaasav-kumar opened #96 "event to stop loading widget"
Assume i have initiated freshchat , but in some case i need to stop loading freshchat.
Is there any way to prevent it ?

[2020-07-09 20:21] developerjohan01 commented on #52
@rameshfreshworks
The support link above to `229319` is not working... and do you know when support for 2.71828 going to come?

[2020-07-10 05:21] rameshfreshworks commented on #52
Hi @developerjohan01 ,
Sorry about the broken link, Here is the updated URL https://support.freshchat.com/en/support/solutions/articles/50000000207-freshchat-android-sdk-integration-steps refer to section 8.2 in the document.
About supporting the latest Picasso version, the new version has breaking changes so support may not be available in the near future.

[2020-07-10 12:33] developerjohan01 commented on #52
@rameshfreshworks thank you very much for the link. 👍 I will have a look and see if I can make it work. However, I am really using a Cordova/Phonegap plugin which is then using the Freshchat-android project which means that it isn't easy to make code changes because of dependencies...
The latest version of Picasso has been out for more than 2 years so it is still a bit surprising that you are not

[2020-07-15 17:36] developerjohan01 opened #97 "Request: upgrade dependency of Picasso to latest version"
Hi, would you consider updating the dependency on Picasso to the latest version?
I know the latest version (Version 2.71828) is not fully backwards compatible with 2.5.2 but it has been available since 2018-03-07 and it is apparently compatible with coming versions (3.0)

This is from the square/picasso [changelog](https://github.com/square/picasso/blob/master/CHANGELOG.md)

### Motivation
Upgradi

[2020-07-22 09:20] winardis opened #98 "React Native - Crash on triggering Freshchat.resetUser"
Hi just recently experienced a crash when a user tried to logout, within the logout process i did call Freshchat.resetUser to remove the current logged in user. Upon triggering the function the app crashed and within Sentry logging we found this message "Can't downgrade database from version 6 to 5"
Can anyone help me on this issue please?

`android.database.sqlite.SQLiteException: Can't downgrade

[2020-08-07 06:12] Shekhar7860 commented on #27
hi @tryprasannan can you help me with freshChat conversations issue???

[2020-08-07 06:16] Shekhar7860 opened #99 "issue while getting messages from freshChat in react native"
Infinite loading occurs everytime with freshChat.showConversations()

[2020-08-07 11:11] rameshfreshworks commented on #99
Hi, please set the correct domain as part of freshchat config.
Refer Section 2 in https://support.freshchat.com/en/support/solutions/articles/50000000207-freshchat-android-sdk-integration-steps

[2020-08-07 12:22] rameshfreshworks commented on #98
Hi, From the log we think this would happen when you try to downgrade the SDK which would in turn try to downgrade the DB used. Let us know if this issue happened again along with RN SDK versions details.

[2020-08-07 12:25] rameshfreshworks commented on #91
Let us know if the issue was resolved. Close it if resolved.

[2020-08-07 12:38] rameshfreshworks commented on #96
Hi @vaasav-kumar , are you using android SDK? can you explain a bit more about your usecase?

[2020-08-07 12:44] rameshfreshworks commented on #95
Hi, Seems the issue is related to freshchat web widget. Refer https://developers.freshchat.com/web-sdk for more details.
Reach out to support@freshchat.com if you need more assistance.

[2020-08-07 12:44] #95 closed

[2020-08-07 12:45] rameshfreshworks commented on #94
Hi, Seems the issue is related to freshchat web widget. Refer https://developers.freshchat.com/web-sdk for more details.
Reach out to support@freshchat.com if you need more assistance.

[2020-08-07 12:45] #94 closed

[2020-08-07 12:46] rameshfreshworks commented on #86
Closing this issue. Feel free to reopen if the issue is not resolved.

[2020-08-07 12:46] #86 closed

[2020-08-07 12:49] rameshfreshworks commented on #88
Can you tell us about where you are registering this receiver in your application?

[2020-08-07 12:49] #79 closed

[2020-08-07 12:51] rameshfreshworks commented on #85
Closing this issue. please reachout support@freshchat.com if you need any assistance.

[2020-08-07 12:51] #85 closed

[2020-08-07 12:54] rameshfreshworks commented on #89
@angelix That's strange. Reach out to support@freshchat.com if you still need assistance.

[2020-08-07 12:54] #89 closed

[2020-08-10 13:09] MuthuFD opened #100 "test issue - ignore"

[2020-08-10 13:11] #100 closed

[2020-08-14 09:18] abdullahizzuddiin commented on #97
Hi, have you found any solution?

[2020-08-17 04:43] #99 closed

[2020-08-17 04:44] Shekhar7860 opened #101 "Not receiving push notifications from freshChat"
Not receiving push notifications from freshChat however receiving from firebase using same device token, check my payload - {"user":{"firstName":"Yantra","lastName":"Test Reseller","email":"testreseller@yantrait.co.uk","id":388643734462728,"alias":"c0d8f4ea-35e3-4264-a215-6a791687cbdb","groupAliasSet":[],"phone":"8837826904","phoneCountry":"+91","usage_meta":[],"kv_meta":[],"device_meta":[],"notif

[2020-08-17 06:02] rameshfreshworks commented on #101
Hi @Shekhar7860 ,  The debug info posted above confirms that push has been successfully sent by freshchat server.  Please make sure that all received freshchat push messages are passed to freshchat SDK as shown in step 2 in [push notifications troubleshoot document](https://support.freshchat.com/en/support/solutions/articles/231986-android-push-notifications-are-not-working-how-do-i-fix-this-).

[2020-08-17 06:11] sanketsingh12 commented on #101
What do you mean??? if onMessageReceived is necessary?

[2020-08-17 06:15] rameshfreshworks commented on #101
Yes, Inside the onMessageReceived() method of your FirebaseMessagingService extended class.
[code]

[2020-08-17 06:19] Shekhar7860 commented on #101
but for firebase, its necessary i think? ok let me try...

[2020-08-17 06:55] Shekhar7860 commented on #101
Hello, what to do when the app is Closed...I am not getting notification at that time?

[2020-08-18 05:48] rameshfreshworks commented on #101
Hi @Shekhar7860 , Notifications should work irrespective of the app state. Is this only happening for freshchat notifications or notifications in general ?

[2020-08-18 06:09] Shekhar7860 commented on #101
Yes it's only causing problem for fresh Chat notifications in android....

On Tue, Aug 18, 2020, 11:18 AM Ramesh R <notifications@github.com> wrote:

[2020-08-18 10:21] Shekhar7860 opened #102 "freshchatNotification is always 0"
when i console or alert freshchatNotification , it always gives 0

[2020-08-18 12:44] rameshfreshworks commented on #101
Hi @Shekhar7860 , Can you check out our sample app and let us know if this is reproducible https://github.com/freshworks/freshchat-android/tree/master/Sample/FCPushNotificationSample/demo_app/src/main/java/com/example/demoapp

[2020-08-18 12:46] Shekhar7860 commented on #101
its android code, i want react native okk tell me what freshChatNotification - 0 means?

[2020-08-18 13:08] Shekhar7860 commented on #102
when i log - freshchatNotification it gives 0, what it means???

[2020-08-19 04:04] MuthuFD commented on #102
Duplicate of https://github.com/freshworks/freshchat-android/issues/101

[2020-08-19 04:11] MuthuFD commented on #101
Thanks for mentioning that you are using React Native Freshchat SDK.

When isFreshchatNotification returns 0, that means notification payload passed to freshchat SDK is not valid or not in expected format.

Freshchat SDK accepts payload in FCM format in Android and APNS formal in iOS.

If you are using any their party push handling libraries, they might be modifying the payload.
If you are using f

[2020-08-19 04:56] #102 closed

[2020-08-19 05:12] Shekhar7860 commented on #101
well, tell me from where i will get this payload??

[2020-08-19 05:17] MuthuFD commented on #101
Payload is the data you received in push notification.
You would be passing it to `isFreshchatNotification`.

[2020-08-19 05:34] Shekhar7860 commented on #101
but, i m not receiving this push when app is closed? why?

[2020-08-19 06:05] rameshfreshworks commented on #101
Hi @Shekhar7860 , Can you please share the code of your notification handling?

[2020-08-19 06:13] Shekhar7860 commented on #101
notification = () => {
    messaging().onMessage(async remoteMessage => {
      console.log('Message handled in the background!', remoteMessage);
      Freshchat.isFreshchatNotification(remoteMessage.data, (freshchatNotification) => {

              // console.log('fresh', freshchatNotification)
               if (freshchatNotification) {
                   Freshchat.handlePushNotification(remoteM

[2020-08-19 06:14] Shekhar7860 commented on #101
notification = () => {
    messaging().onMessage(async remoteMessage => {
      console.log('Message handled in the background!', remoteMessage);
      Freshchat.isFreshchatNotification(remoteMessage.data, (freshchatNotification) => {

              // console.log('fresh', freshchatNotification)
               if (freshchatNotification) {
                   Freshchat.handlePushNotification(remoteM

[2020-08-19 08:58] MuthuFD commented on #101
@Shekhar7860
When app is closed/killed, you need to handle push notification differently in `react-native-firebase`.
Please refer https://github.com/invertase/react-native-firebase/issues/1037

[2020-08-19 10:29] Shekhar7860 commented on #101
finally, i managed to get notification when app closed

[2020-08-19 10:30] #101 closed

[2020-08-20 04:30] MuthuFD opened #103 "Test issues"

[2020-08-20 04:31] MuthuFD commented on #103
adsf

[2020-08-20 04:31] #103 closed

[2020-08-20 10:41] KamathVishak96 commented on #91
Had contacted Freshworks support.
Removing `setNotificationInterceptionEnabled(true)` as suggested helped solve the issue.

[2020-08-20 10:41] #91 closed

[2020-08-20 12:23] rameshfreshworks commented on #98
@winardis Closing this issue since there is no response. Feel free to reopen if this issue still exists.

[2020-08-20 12:23] #98 closed

[2020-08-20 12:26] rameshfreshworks commented on #93
This issue is fixed in version 3.6.0. Update to latest version of freshchat if not already done.

[2020-08-20 12:26] #93 closed

[2020-08-20 12:30] rameshfreshworks commented on #90
Hi @ur3an0, Sorry about the delay in response.  Were you able to solve this issue?

[2020-08-20 12:35] rameshfreshworks commented on #88
@angelix Hope the issue is resolved. Feel free to reopen if the issue still persists.

[2020-08-20 12:35] #88 closed

[2020-08-20 12:37] rameshfreshworks commented on #96
Closing due to no response. @vaasav-kumar Feel free to reopen with details if the issue is not resolved.

[2020-08-20 12:37] #96 closed

[2020-08-26 13:42] fitkunal commented on #82
I am getting the same issue after introducing tools:node='replace' in AndroidManifest application tag, Any solutions on this issue appreciated.

[2020-08-27 05:06] rameshfreshworks commented on #82
@fitkunal Can you tell us why are you using `tools:node='replace`?  This is required only if you are overriding any components declared in the dependency library manifest like Freshchat SDK.  Ref: https://developer.android.com/studio/build/manifest-merge for more info.

[2020-08-27 08:28] fitkunal commented on #82
@rameshfreshworks Because I have integrated Zoom SDK and was facing Manifest merge issues which led me to this solution. But now my Freshchat is not working with error message in toast.

[2020-08-27 11:08] fitkunal commented on #82
@rameshfreshworks I have solved this issue by looking in Merger failed log.
Followed the suggestions and steps and Freshchat works completely fine now

[2020-08-27 13:26] #82 closed

[2020-09-03 13:37] paulsUsername commented on #25
Hmmm seems to be causing a crash for me

[2020-09-15 09:48] MaheshwariSneha27 commented on #4
Hi ,

I tried the same solution still I am getting the error

[2020-09-15 09:56] amrsaiedcashu opened #104 "Crash after open Image"
I have three issues in SDK and I using the latest version 3.6.5
1- attach an image from the camera not work and make a crash
` java.lang.SecurityException: The authority of the uri content://com.example.demoapp.provider/external_cache/freshchat/tmp/JPEG_16001629642841989866830.jpg does not match the one of the contentProvider: com.cashu.app.uat.provider`
2- attached that attached from Gallay not s

[2020-09-15 10:15] MuthuFD commented on #104
@amrsaiedcashu
1 & 2 : Can you share the code you have used for declaring provider in manifest and strings.xml
3: Please share us a screenshot of the issue

[2020-09-15 10:34] MuthuFD commented on #4
@MaheshwariSneha27 Are you also facing provider conflict error?

If not, you can refer this video https://freshchat.wistia.com/medias/qrhrj1vzp1

[2020-09-15 10:47] MaheshwariSneha27 commented on #4
Hi,
I already had a provider and later on adding freshChat Sdk I got provider error so I added  below code in my existing provider path file

<files-path
        name="int_files"
        path="." />
    <external-files-path
        name="ext_files"
        path="." />
    <cache-path
        name="int_cache"
        path="." />
    <external-cache-path
        name="ext_cache"
        path="." />

[2020-09-15 10:52] amrsaiedcashu commented on #104
1-
`        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.demoapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/freshchat_file_provider_paths" />

[2020-09-15 11:38] MuthuFD commented on #4
@MaheshwariSneha27
1. Are you still getting the toast?
2. What is the error?

[2020-09-15 11:41] MaheshwariSneha27 commented on #4
Hi

I am getting a toast saying "Missing/Bad FileProvider for FreshChat. Camera capture will fail in devices running Nougat or later versions of OS (ErrorCode :354)"

________________________________
From: MuthuFD <notifications@github.com>
Sent: 15 September 2020 17:08
To: freshworks/freshchat-android <freshchat-android@noreply.github.com>
Cc: Sneha Maheshwari <s.maheshwari@vetifly.com>; Mention

[2020-09-15 11:49] MuthuFD commented on #4
@MaheshwariSneha27
Have you added below line in your strings.xml with your provider name?
<string name="freshchat_file_provider_authority">YOUR_PROVIDER_AUTHORITY</string>

[2020-09-15 11:53] MaheshwariSneha27 commented on #4
Hi,

I have used below code

In Manifest -

<provider
    android:name="androidx.core.content.FileProvider"
    android:authorities="com.vetifly.vetifly.provider"
    android:exported="false"
    android:grantUriPermissions="true">
    <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/provider_paths" />

</provider>

In string.xml-

<string name="

[2020-09-15 11:59] MuthuFD commented on #104
1. Please share the code you have added in strings.xml for Freshchat provider
2. You need not modify freshchat_file_provider_paths.xml file. Its already present inside SDK.

[2020-09-15 12:00] MuthuFD commented on #4
@MaheshwariSneha27
freshchat_file_provider_authority spelling is wrong. All lower case.
Can you modify that and check again.

[2020-09-15 12:03] amrsaiedcashu commented on #104
١-    <string name="freshchat_file_provider_authority">com.example.demoapp.provider</string>
2- i replace it and same issue

[2020-09-15 12:12] MaheshwariSneha27 commented on #4
Hi,

Changed to authority to

<string name="provider_authority">com.vetifly.vetifly.provider</string>

still getting the error
________________________________
From: MuthuFD <notifications@github.com>
Sent: 15 September 2020 17:30
To: freshworks/freshchat-android <freshchat-android@noreply.github.com>
Cc: Sneha Maheshwari <s.maheshwari@vetifly.com>; Mention <mention@noreply.github.com>
Subject: Re

[2020-09-15 12:57] amrsaiedcashu commented on #104
<img width="379" alt="Screen Shot 2020-09-15 at 2 56 47 PM" src="https://user-images.githubusercontent.com/62697534/93213074-b5138600-f763-11ea-857e-22381c42a5f6.png">

[2020-09-15 12:59] amrsaiedcashu commented on #104
1- now after capturing from camera return this error
2- and from attachment make a white image but if click it's shown image

[2020-09-15 13:16] MuthuFD commented on #4
@MaheshwariSneha27
"freshchat_file_provider_authority" is the key.
You have added just "provider_authority".

[2020-09-15 13:39] MuthuFD commented on #104
2. Do not replace / edit / add freshchat_file_provider_paths.xml. Its already present inside SDK.
3. Is your device locale also Arabic? or Just App locale?

[2020-09-15 18:51] bboyzlodey commented on #89
@angelix I detect that if initial processes for instance Freshchat not finished and you called getUnreadCountAsync, then you will not give response.

As solution, you can execute method delay about 3 seconds (test it on different devices):
[code]

@rameshfreshworks I tested calling method getUnreadCountAsync inside onCreate method MainActivity class. Results between 3.0.0 and 3.6.5 versions are di

[2020-09-16 05:39] MaheshwariSneha27 commented on #4
Hi,

Thanks It worked now.
________________________________
From: MuthuFD <notifications@github.com>
Sent: 15 September 2020 18:46
To: freshworks/freshchat-android <freshchat-android@noreply.github.com>
Cc: Sneha Maheshwari <s.maheshwari@vetifly.com>; Mention <mention@noreply.github.com>
Subject: Re: [freshworks/freshchat-android] Provide custom FileProvider to avoid conflicts. (#4)

@MaheshwariSn

[2020-09-16 07:07] #4 closed

[2020-09-16 08:01] amrsaiedcashu commented on #104
1- I am already do that and the same issue
2- No, yes APP lang

[2020-09-16 08:16] rezyfr opened #105 "Can't receive notification and unreadcountmessage only triggered when the app in conversation page"
I just set up Freshchat on my app and it works just fine. However the notification doesn't work, I also log the unreadcountmessage but it only triggered when I'm on the conversation page. I injected the Freshchat initiation into my App class. The "Push Notification Enabled" on user properties is also said 'Yes'. Here is how I handle my Freshchat.
![image](https://user-images.githubusercontent.com/

[2020-09-16 20:28] plotic commented on #80
Guys is there any resolution on this one ? or a workaround ? this is a real blocker and it is affecting react-native as well

[2020-09-17 13:39] bboyzlodey commented on #105
Hello @rezyfr !

**Push notifications**
I init a push notification in Aplication and it work:
[code]
**getUnreadCountAsync**
Read [here](https://github.com/freshworks/freshchat-android/issues/89#issuecomment-692906853)

That's all I can do to help

[2020-09-18 13:38] andreservidonigyg opened #106 "User properties don't accept something like "in-app-locale-code""
Hello, i'm trying to add an user property but it keep receiving an error like this:
**2020-09-18 15:36:35.192 E: Key length exceeded for key: in-app-locale-code Limit is 32 characters. Key can only contain alphanumeric characters for key:in-app-locale-code (ErrorCode : 1000)**

Why is it not supported on Android? We used the SDK for iOS and works fine.
Thanks!

[2020-09-18 14:55] MuthuFD commented on #106
@andreservidonigyg Thanks for pointing this out. We will get back to you with an update in the next 5 days.

[2020-09-18 14:58] MuthuFD commented on #105
@rezyfr Can you confirm if you have followed and implemented section 6.1 from the integration documentation.
https://support.freshchat.com/support/solutions/articles/50000000207-freshchat-android-sdk-integration-steps

Only if push notifications works, unread count will be in sync.

[2020-09-18 15:01] MuthuFD commented on #104
@amrsaiedcashu
1. Please refer the sample app provided in this repo and try doing the same in your application.
2. Have implemented the steps to update runtime locale change section 7.4 from the integration documentation.
https://support.freshchat.com/support/solutions/articles/50000000207-freshchat-android-sdk-integration-steps

[2020-09-21 08:05] abhisheksharma18021999 commented on #58
how to change locale to show faqs in different languages. ?
is there anu in-bulit function where i can pass locale ????
please help

[2020-09-21 08:59] rameshfreshworks commented on #58
Hi @abhisheksharma18021999 ,
Here is the the demo app for handling locale change in Freshchat. Please go through and make the required changes. https://drive.google.com/file/d/1wuwfIVt9O1hOgDIv9bR_2Eyb_2lZ0DO5/view?usp=sharing

[2020-09-21 09:25] abhisheksharma18021999 commented on #58
thanks alot

On Mon, 21 Sep 2020 at 14:29, Ramesh R <notifications@github.com> wrote:

[2020-09-21 09:58] amrsaiedcashu commented on #104
1- Same issue , it's library handle androidx.core.content.FileProvider

[2020-09-21 10:12] amrsaiedcashu commented on #104
Exception on samsung SM-G925F Android API 7.0 (24) >>>>> Attempt to invoke virtual method 'int android.graphics.Bitmap.getWidth()' on a null object reference
    java.lang.NullPointerException: Attempt to invoke virtual method 'int android.graphics.Bitmap.getWidth()' on a null object reference
        at com.freshchat.consumer.sdk.i.a.doInBackground(Unknown Source)
        at com.freshchat.consume

[2020-09-21 11:11] MuthuFD commented on #104
@amrsaiedcashu Are you able to reproduce the issue in Sample app as well?
Irrespective of your response to previous question, Can you share us the sample app + code to support@freshchat.com.
Our Support team will connect you with us. We can decide how to take this forward for a quicker resolution.

[2020-09-21 11:19] MuthuFD commented on #80
@plotic @AniruddhaKulk
We are unable to reproduce this issue.
Are you able to reproduce this in the Sample app provided in this repo?
If you are able to reproduce, please share us the code and steps to reproduce to support@freshchat.com

Attached back navigation working as expected video.
[BackNavigationSample.zip](https://github.com/freshworks/freshchat-android/files/5254975/BackNavigationSample.

[2020-09-23 03:10] MuthuFD commented on #105
@rezyfr Please refer below video tutorials for more details.
Android - Push Notification Integration - https://freshchat.wistia.com/medias/69v54tgg81

Hope this solves your issue. I'm closing this ticket. Feel free to reopen or contact us at support@freshchat.com if you are still this issue.

[2020-09-23 03:12] MuthuFD commented on #90
@ur3an0 I hope you were able to resolve this. I'm closing the issue.
If you are still facing this issue, feel free to reopen or contact us at support@freshchat.com

[2020-09-23 03:12] #90 closed

[2020-09-23 03:13] #105 closed

[2020-09-23 06:17] MuthuFD commented on #106
@andreservidonigyg We have fix this issue in the [latest version](https://github.com/freshworks/freshchat-android/releases/tag/3.6.6). Please update.

[2020-09-23 06:17] #106 closed

[2020-10-06 11:18] rameshfreshworks commented on #104
Hi @amrsaiedcashu Hope your issue is resolved. If not, Please reach out to support@freshchat.com with sample app code using which we can reproduce the issue. Closing this now.

[2020-10-06 11:18] #104 closed

[2020-10-11 07:01] Punit-24 opened #107 "How to fully customize the layout of chat screen?"
How to add padding to the AttachIcon, how to add an image of the user too like the image of the team member, how to change the style of the chat bubble,etc.......

[2020-10-12 07:07] MuthuFD commented on #107
1. To change padding of Attach icon, add the below item in your dimen.xml and set your preferred value. Default padding is 10dp.
<dimen name="freshchat_message_attach_icon_padding">YOUR_PADDING_HERE</dimen>

2. how to add an image of the user too like the image of the team member?
Image is present only for Agent messages.

3. how to change the style of the chat bubble
You can provide your own 9pat

[2020-10-13 05:30] MuthuFD commented on #107
Hope your queries are resolved. Closing this issue.
If you are still having trouble, feel free to reopen this ticket or mail us at support@freshchat.com

[2020-10-13 05:30] #107 closed

[2020-10-14 07:15] gokulrajats opened #108 "Too many Receivers"
Fatal Exception: java.lang.RuntimeException: Unable to resume activity
com.demo.android/com.freshchat.consumer.sdk.activity.ConversationDetailActivity}: java.lang.IllegalStateException: Too many receivers, total of 1000, registered for pid: 21670, callerPackage: com.test.android

[2020-10-14 10:04] MuthuFD commented on #108
@gokulrajats
1. Can you share us the full logs for this issue?
2. Can we know the Freshchat SDK version where this is happening?
3. Are you able reproduce this issue in the sample app available in this repo?

[2020-10-14 13:09] gokulrajats commented on #108
[code]

The Version is 3.6.4

[2020-10-14 17:30] MuthuFD commented on #108
@gokulrajats
1. Can you check logs again and share? This log does not contain Freshchat package file references
2. We are not able to reproduce this. We have very limited set of broadcast receiver. Can check this scenario in FreshchatSample in this repo? If you are able to reproduce, please share here.

[2020-10-14 17:33] gokulrajats commented on #108
Both are comment's logs are combined as the first comment mentions the freshchat consumer activity. These are the final logs i could possibly get . Can you help me with, what could possibly rise this error, like too many receivers?

[2020-10-15 04:06] MuthuFD commented on #108
@gokulrajats We are not able to reproduce this. We have very limited set of broadcast receiver in Freshchat SDK.
Can you check this scenario in FreshchatSample in this repo? If you are able to reproduce, please share here.

[2020-10-15 07:58] #108 closed

[2020-10-22 06:07] mallikarjun046 commented on #11
broarcast receiver is not triggering  after the message sent.

[2020-10-22 06:17] mallikarjun046 commented on #11
BroadcastReceiver onReceive never fired

[2020-10-23 06:57] rameshfreshworks commented on #11
@mallikarjun046  Where are you registering the broadcast receiver for restoreId?
We would suggest doing it in your Application class.

[2020-10-23 07:06] mallikarjun046 commented on #11
Hi
It is generated but it is not happening first time of the chat
conversation. It is happening 2nd time chat conversation.

Thank you

On Fri, 23 Oct, 2020, 12:27 pm Ramesh R, <notifications@github.com> wrote:

[2020-10-23 07:10] mallikarjun046 commented on #11
Loading indefinitely Sometimes

[2020-10-23 08:38] rameshfreshworks commented on #11
Hi @mallikarjun046 , Please elaborate your query as when and where exactly are you facing indefinite loading problem.

[2020-10-23 08:54] mallikarjun046 commented on #11
when the app launch first time. that time chat conversation is showing . i am facing this issue after relaunching the application. and it's happening randomly.

[2020-10-23 09:05] rameshfreshworks commented on #11
@mallikarjun046 Okay. we have the demo apps covering different use cases in this project under sample module. Please go through them and make required changes as per the demo app code.
If you still face the issue,  please reach out to support@freshchat.com with Freshchat integration code details. We are happy to help.

[2020-10-26 09:26] rituapplocum commented on #86
What is the solution for the above issue?

[2020-10-26 11:02] rituapplocum opened #109 "App is crashing while opening freshchat in Android 10"
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.alldaydr.patient.dev/com.freshchat.consumer.sdk.activity.ChannelListActivity}: android.view.InflateException: Binary XML file line #17 in com.alldaydr.patient.dev:layout/abc_screen_toolbar: Binary XML file line #17

[2020-10-27 06:13] rameshfreshworks commented on #109
Hi @rituapplocum, Are you using this [calligraphy](https://github.com/chrisjenx/Calligraphy) library in the app? if yes, that is the reason for the crash on android 10.
We recommend not to use the calligraphy library as it reached the end-of-it's-life as claimed in the repo.

[2020-10-27 11:22] rituapplocum commented on #109
I resolved this issue

[2020-10-27 11:22] #109 closed

[2020-11-02 04:39] congnq opened #110 "Freshchat Web Widget like UI customisation"
Hi team,
Can we customize the fresh chat sdk UI in Native or React Native to make it look like FreshChart in the web?
on Mobile:
![Simulator Screen Shot - iPhone SE (2nd generation) - 2020-11-02 at 11 37 13](https://user-images.githubusercontent.com/4245222/97830504-c7d81f00-1cff-11eb-8fcd-daa13245b63e.png)
on Web:
![Screen Shot 2020-10-31 at 14 04 46](https://user-images.githubusercontent.com/424

[2020-11-02 04:57] MuthuFD commented on #110
Hi @congnq ,

We do not have web widget like layout for Mobile SDK.

Freshchat React Native SDK is a wrapper for Freshchat [Android](https://github.com/freshworks/freshchat-android) and [iOS](https://github.com/freshworks/freshchat-ios) SDKs.
So theme customisation has to be done in Android and iOS platform layer separately.

Android:
Documentation [here](https://support.freshchat.com/support/solu

[2020-11-02 06:35] congnq commented on #110
thank @MuthuFD for your answer

[2020-11-02 06:35] #110 closed

[2020-11-02 09:54] dinhquan commented on #110
Hi @MuthuFD I know that we can customize the theme (change the font, color, background color, etc). But I wonder that with native customization if we can change the layout of UI on mobile (same exactly the web)?

[2020-11-02 10:02] MuthuFD commented on #110
@dinhquan unfortunately thats not possible.

[2020-11-02 11:12] dinhquan commented on #110
Thanks @MuthuFD

[2020-11-04 12:57] OyaSaid opened #111 "Android - Freshchat fails to register push token"
The use case is very simple:
- User logs in
- Freshchat : init(FreshchatConfig) is called
- Freshchat : setPushRegistrationToken(token) is called

The problem is that **sometimes** after login, the push notifications are not being received. This behaviour is not consistent (sometimes push notifications are received, sometimes they aren't). It seems to be a concurrency issue, because if a delay is

[2020-11-05 07:28] SalmaMau opened #112 "Access denied problem with implementating freshchat "Could not HEAD 'https://s3.amazonaws.com/moat-sdk-builds/com/github/freshdesk/freshchat-android/3.0.0/freshchat-android-3.0.0.pom'. Received status code 403 from server: Forbidden""
I have been trying to implement freshchat in android studio and this is error i been getting " Could not HEAD 'https://s3.amazonaws.com/moat-sdk-builds/com/github/freshdesk/freshchat-android/3.0.0/freshchat-android-3.0.0.pom'. Received status code 403 from server: Forbidden" . Is there is a solution ?

[2020-11-05 13:31] MuthuFD commented on #112
@SalmaMau Can you share us implementation for freshchat in your build.gradle?

In project level build.gradle, you need to add the following under dependencies.
`maven { url "https://jitpack.io" }`

In app module level build.gradle, you need to add the following.
`implementation 'com.github.freshdesk:freshchat-android:4.0.0'`

For more details refer this [link](https://support.freshchat.com/support

[2020-11-05 14:20] SalmaMau commented on #112
buildscript {
    repositories {
        mavenCentral()
        google()
        jcenter()
    }

    dependencies {
        classpath 'com.android.tools.build:gradle:4.1.0'
}
}

allprojects {
    repositories {
        mavenCentral()
        google()
        jcenter()
        maven { url "https://jitpack.io" }
        flatDir {
            dirs 'libs'
        }
    }
}

// Android Resolver Repos

[2020-11-07 02:36] MuthuFD commented on #112
@SalmaMau

Below setup of yours is modifying the Freshchat SDK path
[code]

This is the path for Freshchat pom file
`https://jitpack.io/com/github/freshworks/freshchat-android/4.0.0/freshchat-android-4.0.0.pom`

Please fix this. This will solve your issue.

[2020-11-07 03:20] MuthuFD commented on #111
@OyaSaid
You are right. Init and setPushRegistrationToken are not related.

We tried few times reproducing this by calling init on a button click and setPushRegistrationToken is called ahead of init.

But we are not able to reproduce.

Can you use the sample app in this repo to reproduce this issue and share it with us?

[2020-11-08 08:38] SalmaMau commented on #112
maven {
            url "https://jitpack.io/com/github"

            // Assets/GoogleMobileAds/Editor/MoPubMediationDependencies.xml:8
        }

i got Could not HEAD 'https://jitpack.io/com/github/com/github/freshdesk/freshchat-android/4.0.0/freshchat-android-4.0.0.pom'. Received status code 401 from server: Unauthorized

[2020-11-09 11:09] zoey-juan commented on #111
Hi @MuthuFD,
the issue is
1. first calling init
2. setPushRegistrationToken called `AFTER` init

if setPushRegistrationToken before init, it works fine.
Due to some reason, `setPushRegistrationToken` will be called after init in our case.
However, setPushRegistrationToken should be called any time when token changed and independent with init.

[2020-11-09 12:12] ankit010cse80 opened #113 "Problems in security audit using https://github.com/MobSF/Mobile-Security-Framework-MobSF"
<img width="1056" alt="Screenshot 2020-11-09 at 5 40 08 PM" src="https://user-images.githubusercontent.com/3149460/98539606-a30d1a00-22b2-11eb-943a-0a69c3ecc6e5.png">

can anyone suggest what to do ? or any workaround ?

[2020-11-09 14:23] rameshfreshworks commented on #113
Hi @ankit010cse80 , We no longer have the TaskAffinity set for any Freshchat activity. Please update to the latest SDK and check.

[2020-11-11 05:53] ankit010cse80 commented on #113
<img width="1027" alt="Screenshot 2020-11-11 at 11 21 21 AM" src="https://user-images.githubusercontent.com/3149460/98774008-1d06e580-2410-11eb-88c4-d8bca3e6e929.png">

will this also be fixed by latest SDK ?

[2020-11-11 10:03] rameshfreshworks commented on #113
Hi @ankit010cse80, The Broadcast receivers mentioned are still declared in Manifest and being used. All the events registered are system events. This way of handling is necessary for Freshchat to function as expected.

[2020-11-24 03:34] MuthuFD commented on #49
Hi All. SDK is using AndroidX dependencies from 4.1.0.
Closing this issue.

[2020-11-24 03:34] #49 closed

[2020-12-07 08:49] rameshfreshworks commented on #111
This issue has been fixed in version 4.1.1.

[2020-12-07 08:49] #111 closed

[2020-12-07 19:19] tasomaniac commented on #97
We are also having similiar issue since we upgraded couple of Firebase libraries and they depend on the newer version of Picasso already.

Picasso also should be updated so that Freshchat does not depend on deprecated Android Support libraries anymore. It is a good step forward. Users can disable Jettifier in their projects so that their builds are slightly faster.

[2020-12-07 19:21] tasomaniac opened #115 "Deploy to mavenCentral"
Please consider deploying to mavenCentral next to Jitpack. Jitpack is not really reliable and is slow. Deploying to mavenCentral will make the library download more reliable.

[2020-12-17 13:40] ahrybuk commented on #80
Hi guys. I also faced with problem about keyboard not closed. I figured out, that problem appears, if activity from which I call chat screen opening have some "windowSoftInputMode" value in Manifest. In my case I start chat from activity, that have "android:windowSoftInputMode="adjustResize|stateHidden" parameter in manifest and keyboard does not hide after chat is closed. When I remove this param

[2020-12-22 06:52] RMVIVEK55 opened #116 "when i app reinstall clearing all my chat messages"
1.main activity:
override fun onCreate(savedInstanceState: Bundle?) {
val config = FreshchatConfig(APPID, APPKEY)
        config.domain = Domain
        config.setResponseExpectationEnabled(true)
        config.setTeamMemberInfoVisible(true)
        config.isCameraCaptureEnabled = true
        config.isGallerySelectionEnabled = true
        config.isResponseExpectationEnabled = true
        Freshc

[2020-12-22 07:29] rameshfreshworks commented on #116
Hi @RMVIVEK55
 Freshchat generates a restoreID for a new user(passing only external id and restore id as null) whenever the user initiates a chat. This happens very first the user is being identified.

 Listen for FRESHCHAT_USER_RESTORE_ID_GENERATED event, save the RestoreId received against the external ID in your server.

 Store the restoreID provided by Freshchat against given externalID in you

[2020-12-22 07:33] RMVIVEK55 commented on #116
am use this code app clear all message
Freshchat.getInstance(getApplicationContext()).identifyUser(customerinfoobject.Customer_Email_Address!!, null);

[2020-12-22 07:43] rameshfreshworks commented on #116
When restoreId is null, Freshchat considers this as a new user. Hence the messages are cleared.  Freshchat expects both externalId( customer email in this case) and restoreId to be passed to successfully restore an existing user.

[2020-12-22 07:52] RMVIVEK55 commented on #116
Thanks, @rameshfreshworks Working fine for explanation

[2020-12-22 07:56] #116 closed

[2020-12-22 07:56] RMVIVEK55 commented on #116
Woking fine

[2020-12-22 07:59] RMVIVEK55 opened #117 "Android push notification not working"
1.override fun onNewToken(p0: String) {
        Log.e("FB token",p0)

        super.onNewToken(p0)
        Freshchat.getInstance(this).setPushRegistrationToken(p0)
    }

----------------------------------------------------------------------------------------------
2.override fun onMessageReceived(p0: RemoteMessage) {
        super.onMessageReceived(p0)
        Log.e("notification1", p0.toString()

[2020-12-22 09:09] rameshfreshworks commented on #117
Hi @RMVIVEK55 , Refer this [troubleshooting](https://support.freshchat.com/en/support/solutions/articles/231986-android-push-notifications-are-not-working-how-do-i-fix-this-) document to fix this issue.

[2020-12-22 09:44] RMVIVEK55 commented on #117
![noti](https://user-images.githubusercontent.com/55997245/102874287-43389000-4468-11eb-8423-7e243d890f9b.png)

[2020-12-22 09:45] RMVIVEK55 commented on #117
@rameshfreshworks I had to enable push notification

[2020-12-22 10:23] rameshfreshworks commented on #117
Check the following steps
1.  Check if you've saved the right FCM key in Freshchat Admin( gear icon) > Mobile SDK -> FCM Server API Key (Android) input field.  if not update FCM server key here.
2.  After executing the above steps if you are not receiving notifications take the conversation ID from the URL. It would be the last 10 or more digits. Paste it at the following URL:

https://web.freshch

[2020-12-22 10:47] RMVIVEK55 commented on #117
After added the firebase key I got a notification. Thanks. @rameshfreshworks

[2020-12-22 10:47] #117 closed

[2020-12-22 11:23] RMVIVEK55 opened #118 "I cannot view addition information"
![add](https://user-images.githubusercontent.com/55997245/102883552-358a0700-4476-11eb-8eea-219889c6a453.png)

  val customerinfoobject = pickMeLocals.getCustomerSharedInfo()
val freshchatUser = Freshchat.getInstance(applicationContext).user
        freshchatUser.firstName = customerinfoobject.Customer_First_Name
        freshchatUser.lastName = customerinfoobject.Customer_Last_Name
        freshc

[2020-12-22 11:29] RMVIVEK55 commented on #118
If am using only trackEvent  means i cannot view Email,Phone

[2020-12-23 13:18] rameshfreshworks commented on #118
Hi @RMVIVEK55 ,
Email and phone number are user properties. You need to update these using following API as you are doing in above code.
Freshchat.getInstance(getApplicationContext()).setUser(freshchatUser);

[2020-12-23 13:23] RMVIVEK55 commented on #118
@rameshfreshworks I can't view  user property
val freshchatUser1 = Freshchat.getInstance(applicationContext).user
    val properties: HashMap<String, Any> = HashMap()
    properties.put("From_Id", userID!!)
    properties.put("To_Id", AdminID)

    properties.put("firstName", customerinfoobject.Customer_First_Name!!)
    properties.put("lastName", customerinfoobject.Customer_Last_Name!!)
    prope

[2020-12-23 13:54] rameshfreshworks commented on #118
Freshchat.trackEvent(this, eventName, properties) is used to track user events. Tracked events are listed under **Events Timeline** in the right pane(scroll down a bit to see this).

If you want to store the above values as user properties ,use the following API
Freshchat.getInstance(getApplicationContext()).setUserProperties(properties);

These values displayed under **User Properties** above Eve

[2020-12-23 14:38] RMVIVEK55 commented on #118
val customerinfoobject = pickMeLocals.getCustomerSharedInfo()
        val freshchatUser = Freshchat.getInstance(applicationContext).user
        freshchatUser.firstName = customerinfoobject.Customer_First_Name
        freshchatUser.lastName = customerinfoobject.Customer_Last_Name
        freshchatUser.email = customerinfoobject.Customer_Email_Address

        freshchatUser.setPhone("+91", customer

[2020-12-23 14:58] RMVIVEK55 commented on #118
and location place is incorrect am send message from arani near vellore but is show kerala. Am in Tamilnadu

[2020-12-23 15:04] RMVIVEK55 opened #120 "Location incorrectly show"
![location](https://user-images.githubusercontent.com/55997245/103010426-5c236d00-455e-11eb-8f39-38551bebb2da.png)

Am sent the message from arani tamilnadu but portal side it show kerala location

[2020-12-23 15:07] RMVIVEK55 commented on #120
![add](https://user-images.githubusercontent.com/55997245/103010593-8d9c3880-455e-11eb-927b-c3c7f8e32346.png)
Am send the message from chennai it show correct send location but arani in correctly

[2020-12-24 05:16] rameshfreshworks commented on #118
Looks like you have lot of queries. We have a support team to handle these queries. Please send an email to support@freshchat.com or chat from your Freshchat account. This way you can get your queries answered quickly.

[2020-12-24 06:23] RMVIVEK55 commented on #120
How to fix

[2020-12-24 06:53] rameshfreshworks commented on #120
The location mapping is based on the IP address. This data mostly helps us to find out the users on country level. We use third party service for this and it is not reliable to get the exact location.

[2020-12-24 06:56] RMVIVEK55 commented on #120
so, its issue right @rameshfreshworks

[2020-12-24 07:16] RMVIVEK55 commented on #118
@rameshfreshworks Just tell me how i can view web postal event property

String eventName = "Visited Order Details page";

// Create a map and set required properties like below
HashMap<String, Object> properties = new HashMap<>();
properties.put("Order Id", 3223232332);
properties.put("Order Date", "24 Jan 2020");
properties.put("Order Status ", "In-Transit");

// Call trackEvent by passing event

[2020-12-30 11:35] tasomaniac opened #121 "User Restore broadcast is never received in Europe"
## Describe the bug

We started to get bug reports saying that Freshchat is not visible (mostly from European region).

I checked with different environments in our app. In Japan, it works correctly.

For user registration, we set the properties and wait for `com.freshchat.consumer.sdk.UserRestoreIdGenerated` BroadcastReceiver to be triggered. In European region, it is not triggered.

## Platform

[2020-12-30 11:42] rameshfreshworks commented on #121
Hi @tasomaniac , We had an incident of degraded performance in EU region. It is resolved now.  Please let us know, if the users are still experiencing this issue. Ref : https://status.freshchat.com/incident/29914

[2020-12-30 11:50] tasomaniac commented on #121
Hey, I was just sending another email to support.

Unfortunately, we still have this issue. And it happens only in Europe.

[2021-01-06 06:56] gaurav472 opened #122 "set message like image and text both"
## Problem Description

it should be allowed to send the text and image while launch chat box in android sdk

## Describe the solution

there should be method in send message like send image and allowed to embed massage within it

## Additional context
user should allowed to upload profile pic in user properties

[2021-01-12 15:27] yasirtrimulabs opened #123 "Hide Notification Content"
How to hide the content of the notification like the message from agent? So that the notification only says you have a new notification with out displaying it.

[2021-01-13 09:46] MuthuFD commented on #123
@yasirtrimulabs Please contact support@freshchat.com.
This has to be enabled account level. Once enabled all messages sent in notification will have a generic message as per your request.

[2021-01-13 09:46] #123 closed

[2021-01-18 12:06] JenyChen opened #124 "Caused by: java.lang.OutOfMemoryError"
java.lang.RuntimeException: An error occurred while executing doInBackground()
	at android.os.AsyncTask$3.done(AsyncTask.java:309)
	at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:354)
	at java.util.concurrent.FutureTask.setException(FutureTask.java:223)
	at java.util.concurrent.FutureTask.run(FutureTask.java:242)
	at android.os.AsyncTask$SerialExecutor$1.run(AsyncTask.java:234

[2021-01-18 12:08] JenyChen commented on #124
init at application like: Freshchat.getInstance(getApplicationContext()).init(config);

[2021-01-19 05:51] rameshfreshworks commented on #124
@JenyChen , Can you please provide the following details.

1. Freshchat SDK version being used?
2. Steps to reproduce this issue?
3. Is this happening consistently?
4. Are you using any custom implementation of image loader for Freshchat?

[2021-01-19 06:04] JenyChen commented on #124
1. Freshchat SDK version：3.2.1
2. I down know where it is happened, maybe open?
3. Customer phone happened
4. default image loader

[2021-01-19 06:22] rameshfreshworks commented on #124
Hi @JenyChen, We have made few image loading optimizations after 3.2.1. Would recommend updating the Freshchat SDK to the latest version 4.2.0.
Closing this issue for now. Feel free to reopen, if you face the same issue again.

[2021-01-19 06:22] #124 closed

[2021-01-19 06:24] JenyChen commented on #124
ok

[2021-01-19 14:48] harisraza123 opened #125 "Back Icon color Not changing in Action Bar"
In Freshchat UI Customization Backarrow Color is not Changing

[2021-01-19 15:23] MuthuFD commented on #125
@harisraza123 please share the UI customisation you have tried to change backarrow.

[2021-01-19 15:29] harisraza123 commented on #125
<style parent="@style/Base.Widget.AppCompat.ActionBar" name="MyCustomTheme.ActionBarStyle">
        <item name="titleTextStyle">@style/ActionBarTitleText</item>
        <item name="subtitleTextStyle">@style/ActionBarSubTitleText</item>
        <item name="actionButtonStyle">@style/ActionBArActionStyle</item>
        <item name="background">@drawable/action_bar_background</item>
    </style>

    <

[2021-01-19 15:30] harisraza123 commented on #125
Can you gide me house to change the back Arrow color i can Customize the whole Action Bar But unable to Customize the back arrow Color.

[2021-01-20 10:22] rameshfreshworks commented on #125
Setting `toolbarNavigationButtonStyle` will get it work. Find the sample code below

    <style name="Theme.Freshchat.SelectedTheme" parent="CustomAppTheme" />

    <style name="CustomAppTheme" parent="Theme.Freshchat.Light.DarkActionBar">

        // Code to change navigtion button style
        <item name="toolbarNavigationButtonStyle">@style/Toolbar.Button.Navigation.Tinted</item>
     </style>

[2021-01-27 11:19] yasirtrimulabs opened #126 "Override link handling"
## Description
I am trying to override the default external link click behaviour currently on react native.
I have tried this method from the [RN documentation](https://www.npmjs.com/package/react-native-freshchat-sdk):

![Screenshot 2021-01-27 at 4 07 50 PM](https://user-images.githubusercontent.com/62023757/105982951-d2654300-60b9-11eb-8189-4ff2bdaf76d6.png)

Above method is working in iOS but n

[2021-02-01 07:02] rameshfreshworks commented on #126
Hi @yasirtrimulabs, The first approach is the recommended one. Can you let us know for which link this is not working?

[2021-02-01 07:05] rameshfreshworks commented on #125
Hope this issue is resolved. Closing the issue. Feel free to reopen this issue or reach out to support@freshchat.com in case the issue still persists.

[2021-02-01 07:05] #125 closed

[2021-02-02 13:10] hakeemsyd commented on #126
I have tried
google.com
www.google.com
https://google.com
https://www.google.com
But nothing works

[2021-02-02 16:36] yasirtrimulabs commented on #126
Hi @rameshfreshworks so far I have tried these
google.com
www.google.com
https://google.com
https://www.google.com
But nothing works on android

[2021-02-03 06:37] MuthuFD commented on #126
@yasirtrimulabs
We tested this from ourside.
We are able to verify that we are able to listen to non-freshchat links.

Please place the below code in App.js and try.
[code]

If you still facing issues, we recommend you to share a sample app where you can reproduce this issue and reopen this issue.
You can also reach out to use through support@freshchat.com

[2021-02-03 06:37] #126 closed

[2021-02-05 08:48] linndeveloper commented on #52
Caused by: java.lang.IllegalArgumentException: Unsupported version of Picasso found. Please create and set custom Image loader using Freshchat.setImageLoader()

[2021-02-05 10:21] rickyputrah commented on #58
Trying to change locale using your code shared before @rameshfreshworks but the content of FAQ is not changed. what is changed only button "chat us"?

[2021-02-06 06:15] MuthuFD commented on #115
@tasomaniac
Can you tell us some of the issues which you have faced with the current approach and how you have solved those?

[2021-02-06 07:45] tasomaniac commented on #115
Jitpack servers can be down time to time. Even though this is rare, it creates a big issue when happens.

I'm also not saying to remove from Jitpack. That should be kept.

I'm just requesting to deploy to maven Central too since that one is more reliable.

Thanks

[2021-02-08 10:52] rameshfreshworks commented on #58
Hey @rickyputrah , Have you setup translations for your FAQ's on Freshchat account in the locale you checking ?

[2021-02-08 10:57] rameshfreshworks commented on #121
Hi @tasomaniac ,
We hope this issue is resolved now. If not feel free to reopen or contact us by emailing support@freshchat.com.

[2021-02-08 10:57] #121 closed

[2021-02-08 11:25] tasomaniac commented on #121
Hi specific issue in Europe is resolved. But the technical issue is still there.

When we restore the user, we only have the option to register broadcast receiver for success. If any error happens on Freshchat side, we are never notified.

Is it possible to introduce registering another callback to receive error messages?

[2021-02-08 12:08] MuthuFD commented on #121
@tasomaniac Right now we do not have an event for Restore failures.
Thanks for showing the need for this.
I will keep you posted on any development in this area.

[2021-02-08 12:16] tasomaniac commented on #121
Any ticket that we can follow to get updates on this?

[2021-02-09 08:33] yasirtrimulabs commented on #126
@MuthuFD I have reached to support already.
I send a link in a FAQ and it's working but not for a link sent in chat.

[2021-02-16 17:54] ajp8164 opened #127 "Need way to embed FC UI in React Native parent view"
## Problem Description

With reference to [37](https://github.com/freshworks/freshchat-android/issues/37) - I have a requirement to place the FC view inside a parent.

## Describe the solution
Need a way to embed FC in a parent  view in React Native app.

**Is there a way to do this within a React Native app?**

[2021-02-17 15:56] puliajay43 opened #128 "Push Notification and Unread count is not working"
## Push Notification and Unread count is not working
I have integrated the Push Notification and Unread count as in Documentation. But It didn't worked as expected.
In the Inbox, I am getting **Push Notification Enabled** is true.
<img width="285" alt="Screenshot 2021-02-17 at 9 44 14 PM" src="https://user-images.githubusercontent.com/35003996/108232947-4cdd2c00-7169-11eb-856f-a66f55062518.png">

[2021-02-19 08:31] MuthuFD commented on #128
@puliajay43 Please make sure that you are uploading **FCM server key** here.
Server key is available in Firebase console under **Project Settings -> Cloud Messaging -> Project Credentials**

[2021-02-19 08:33] MuthuFD commented on #128
If you are getting the same error even after providing correct server key, please contact us using support@freshchat.com

[2021-02-19 09:44] #128 closed

[2021-02-26 04:21] MuthuFD commented on #113
@ankit010cse80 Hope you got sufficient clarifications.
If you need more clarity, please reach out to us at support@freshchat.com

[2021-02-26 04:21] #113 closed

[2021-02-26 04:23] MuthuFD commented on #118
You can find events in user's event's timeline

@RMVIVEK55 hope you are able got your queries cleared.
If you have more queries, feel free to reach us at support@freshchat.com

[2021-02-26 04:23] #118 closed

[2021-02-26 08:34] MuthuFD commented on #120
@RMVIVEK55 We do not guarantee that the location is exact. We update the IP mapping on a monthly basis.
If you want exact data, I would suggest you to use Android Location services and log user location as a user property.

[2021-02-26 08:34] #120 closed

[2021-03-11 13:37] supercellZ-swvl opened #129 "Crash : com.freshchat.consumer.sdk.d.b.create"
## Describe the bug
Showing up on my Crashlytics :

## Steps to reproduce
[code]

## Expected behavior
Expected the app not to crash.

## Platform
- [ ] Android

## Freshchat SDK version
- SDK version : 4.1.0

## Device information
Galaxy Note 3

[code]

## Crash log
if applicable, add logs here to help us debug the problem
`Fatal Exception: java.lang.AssertionError: impossible
       at java.lang

[2021-03-18 11:02] rameshfreshworks commented on #97
The stars have aligned and we have good news :)
We have upgraded Picasso library to latest version which is 2.8.  This change is live in latest release [4.3.3](https://github.com/freshworks/freshchat-android/releases/tag/4.3.3).

[2021-03-18 11:54] #97 closed

[2021-03-23 06:19] kuba91 opened #130 "Crash while parsing JSON for FAQ with enabled Proguard"
## Describe the bug
When opening FAQ in app it shows endless progress bar and crashes on parsing JSON

## Steps to reproduce
[code]

## Expected behavior
Showed FAQ content

## Platform
- [ ]  Android

## Freshchat SDK version
- SDK version : 4.3.3

## Device information

[code]

## Crash log
2021-03-23 07:07:09.925 31573-31966/? E/FRESHCHAT: Exception occured
    org.json.JSONException: JSONObjec

[2021-03-27 16:22] amsmokefree opened #131 "Error on app launch - com.google.gson.JsonSyntaxException"
## Describe the bug
Error spotted on app launch, log below

A clear and concise description of what the bug is.

## Steps to reproduce
[code]

## Expected behaviour
A clear and concise description of what you expected to happen.

## Platform
- [ ] Android

## Freshchat SDK version
- SDK version :  4.2.0

## Device information
- [ ] is reproducible on all devices? - Yes

[code]

## Crash log
if app

[2021-03-31 10:30] rameshfreshworks commented on #130
Hi @kuba91 , is this only happening on specific devices mentioned or reproducible across all devices?

[2021-03-31 10:49] rameshfreshworks commented on #131
Hi @amsmokefree
This crash is a known case and is expected. It does not hamper Freshchat functionality in anyway.
You can ignore this crash.

[2021-03-31 10:52] kuba91 commented on #130
I tested it only on mentioned devices but as fix i found that i was needed to add:

-keep class org.json.** { *; }

to my proguard file

[2021-04-05 05:38] #131 closed

[2021-04-05 05:39] #130 closed

[2021-04-14 06:37] ishaansrm opened #132 "SendMessage fails on fresh install"
## Describe the bug
When trying to use `.sendMessage()` API in android SDK, after a fresh install, it fails with this message in the logcat

`W/FRESHCHAT: Could not send message to channel filtered by tag => null`

Subsequent `sendMessage()` requests work after opening freshchat via `.showConversations()` but the first one after a fresh install doesn't work.

We are initializing the SDK in onCreat

[2021-04-14 09:58] rameshfreshworks commented on #132
@ishaansrm  Need to pass tag value as part of the Freshchat message to get this work.
Refer section 5 in [documentation](https://support.freshchat.com/support/solutions/articles/50000000207-freshchat-android-sdk-integration-steps).

[2021-04-14 10:42] ishaansrm commented on #132
That's what I had originally tried but same warning comes in logcat

`W/FRESHCHAT: Could not send message to channel filtered by tag => my_tag_name`

I thought maybe the topics are loaded onto the local db only after the chat window opens so lemme try to send msgwithout tags, but that wasn't working either.

Even waiting for more than 2mins after frshchat init the sendMessage API doesn't work, unt

[2021-04-14 14:16] rameshfreshworks commented on #132
@ishaansrm Okay.
Freshchat SDK loads configured data from server during first init. Usually this takes few seconds. i believe this could be the reason.
We suggest you to do the Freshchat.init() in application class and see.

[2021-04-14 15:21] ishaansrm commented on #132
Tried Freshchat.init() in application class but that didn't work either. Tried to wait for 2mins after init() call but still sendMessage failed, multiple times.

What works as a workaround is calling showConversations() to open chat, and then via a handler delay the sendMessage( ) api by 1sec. Then it works everytime, even on fresh installs.

[code]

[2021-04-15 08:40] rehancg opened #133 "showConversations() open two modals - React-native"
## Describe the bug
on some android devices, while navigating to inbox page (showConversations()), there's another screen (Converstaions) that shows up and closes. I guess this is with android 10 devices.

## Steps to reproduce
[code]

## Expected behavior
Directly navigate to inbox page

## Platform
- [ ] Android
- [ ] React Native

## Freshchat SDK version
- SDK version : 3.3.2
- React Native ve

[2021-04-15 14:54] nikoker opened #134 "Resolution confirmation prompt title is not visible"
## Describe the bug
The resolution confirmation prompt title view is not visible at all. The 2 buttons Yes and No are visible but the title itself is missing.

## Steps to reproduce
[code]

## Expected behavior
Resolution confirmation prompt title text view should appear.

## Platform
- [ ] Android Occurs in production for many users. Tested on our side with Android 11

## Freshchat SDK version
-

[2021-04-16 07:32] rameshfreshworks commented on #134
Hi @nikoker,
Are you defining these overridden strings in your app module strings.xml file?

[2021-04-16 07:39] nikoker commented on #134
Hey @rameshfreshworks , yes, look at my post above. I am mentioning this at the end.

[2021-04-16 07:45] rameshfreshworks commented on #134
@nikoker Can you try reproduce this in the following sample app and send us code with your customization's?
https://github.com/freshworks/freshchat-android/tree/master/Sample/FreshchatSample

[2021-04-16 07:53] rameshfreshworks commented on #133
Hi @rehancg ,
I believe you are talking about an intermediate screen that appears when you call ShowConversations() API. If yes, This happens when there is only one topic.

To avoid this behavior, please set a tag to that topic and pass ConversationOptions with set tag value as a param to ShowConversations() API.

Refer section 4.1.1 in [documentation](https://support.freshchat.com/en/support/solu

[2021-04-16 08:04] rameshfreshworks commented on #132
Hey @ishaansrm, please reach out to support@freshchat.com. We will take it from there.

[2021-04-16 08:17] nikoker commented on #134
How can I mark the conversation as resolved with your sample?

[2021-04-16 10:14] #134 closed

[2021-04-16 10:14] nikoker commented on #134
I found out what the issue was. We were wrongly overriding the style that was used for this view. Thanks for your time.

[2021-04-20 03:50] MuthuFD commented on #133
Hi @rehancg ,
I hope our above reply was helpful in resolving your query.
If you still face issues, please feel free to reach out to us at support@freshchat.com

[2021-04-20 03:50] #133 closed

[2021-05-02 00:13] mm7mod opened #135 "how to change the tea member message background color and also chat background image"
hello ,

I have a question, now with the below documentation we can change many aspects of the freshchat :
https://support.freshchat.com/support/solutions/articles/229492-freshchat-android-sdk-themes-and-customizations

however two stuff I didn't know how to change their color :

1- first we can see that the team-member chat message background color is "light blue", how can I change this color
2-

[2021-05-02 01:11] mm7mod commented on #135
for the chat background color I managed to chat it instead of the pattern :

 <item name="freshchatMessageListStyle">@style/freshchatMessageListStyleCustom</item>
....
   <style name="freshchatMessageListStyleCustom" parent="Widget.Freshchat.MessageList">
        <item name="android:background">@color/freshchat_white</item>
    </style>

######################
I still have problems with this :

1-

[2021-05-02 04:11] mm7mod opened #136 "incoming messages take long time to show for customers on android/react native app"
https://user-images.githubusercontent.com/46278471/116801629-e0d55780-ab0b-11eb-8d48-cc714db5f9db.mp4

## Describe the bug
-- I have an android/react native app that  I want to add and chat functionality to it and to integrate it with freshchat
-- incoming messages take a long time to show for customers on android/react native app and I have tested on , real mobile device for both react native and

[2021-05-04 08:46] MuthuFD commented on #136
@mm7mod From the video recording, I can see that push notifications is not integrated.

When user is present inside chat, messages are updated in 2 ways.

1. As soon as the Freshchat new message push notification is received
2. SDK polls for new messages at regular intervals. Interval varies from 20s to 60s. Interval depends on the result of the previous message update request.
If you are seeing d

[2021-05-04 08:46] #136 closed

[2021-05-04 08:50] MuthuFD commented on #135
Chat bubbles are drawables. If you want to change them, you need to replace the existing drawable with your own drawable.

Key to update is freshchatChatBubbleLeft

For more details refer section "2.3 Drawable and Icons" in documentation.

[2021-05-04 08:50] #135 closed

[2021-05-12 10:34] nishanth0299 opened #137 "ID Mismatch when working with MultiUser on a save device."
## Describe the bug
ID Mismatch when working with MultiUser on a save device.
We have build a multiuser feature on our app which allow multiple persons to login into the same app.
On logging into child 1 and sending a message to Freshchat. The broadcast receiver returns the main user's identifier id instead of user1's id.
## Steps to reproduce
[code]
## Expected behavior
The broadcast receiver sho

[2021-05-13 06:33] rameshfreshworks commented on #137
Hi @nishanth0299 ,
Freshchat requires an unique id as external id for each user that your app supports. This way the same user's chat history can be restored across sessions and devices.

So, we suggest you to pass unique id for each user say child1 in this case. The restore id is generated when an Freshchat user is created for child1. This freshchat user creation happens when user sends his first

[2021-05-13 10:38] #132 closed

[2021-05-13 10:52] rameshfreshworks commented on #137
Hope our above solution solves your issue.
If you need more help, please contact us through support@freshchat.com

[2021-05-13 10:52] #137 closed

[2021-05-13 10:53] rameshfreshworks commented on #127
We have informed our product team regarding this request.
You can reach out to us through support@freshchat.com for further queries.

[2021-05-13 10:53] #127 closed

[2021-05-13 10:54] rameshfreshworks commented on #122
We have informed our product team regarding this request.
You can reach out to us through support@freshchat.com for further queries.

[2021-05-13 10:54] #122 closed

[2021-05-13 10:55] rameshfreshworks commented on #80
Hope you were able to solve this issue.
If the problem still persists, Please reach out to us through support@freshchat.com

[2021-05-13 10:55] #80 closed

[2021-05-13 10:57] rameshfreshworks commented on #83
Hope you were able to solve this issue.
If the problem still persists, Please reach out to us through support@freshchat.com

[2021-05-13 10:57] #83 closed

[2021-05-13 10:57] rameshfreshworks commented on #54
Hope you were able to solve this issue.
If the problem still persists, Please reach out to us through support@freshchat.com

[2021-05-13 10:57] #54 closed

[2021-05-13 10:57] rameshfreshworks commented on #19
Hope you were able to solve this issue.
If the problem still persists, Please reach out to us through support@freshchat.com

[2021-05-13 10:57] #19 closed

[2021-05-13 10:58] rameshfreshworks commented on #112
Hope you were able to solve this issue.
If the problem still persists, Please reach out to us through support@freshchat.com

[2021-05-13 10:58] #112 closed

[2021-05-13 11:00] rameshfreshworks commented on #81
We have informed our product team regarding this request and this has been added to our roadmap.
For further queries, You can reach out to us through support@freshchat.com.

[2021-05-13 11:00] #81 closed

[2021-05-13 11:01] rameshfreshworks commented on #87
We have informed our product team regarding this request.
You can reach out to us through support@freshchat.com for further queries.

[2021-05-13 11:01] #87 closed

[2021-05-13 11:02] rameshfreshworks commented on #115
We have informed our product team regarding this request.
You can reach out to us through support@freshchat.com for further queries.

[2021-05-13 11:02] #115 closed

[2021-05-13 11:04] rameshfreshworks commented on #129
We are unable to reproduce this issue on our side as well. We are closing this for now.
if you still need assistance on this issue, reach out to us through support@freshchat.com.

[2021-05-13 11:04] #129 closed